<div [ngStyle]="{'min-height':min_height}">
  <p-dialog header="新建用户" [(visible)]="showAddNewUser" [modal]=true >
    <div>
      <div class="form-group">

        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
          <input type="text" pInputText placeholder="Username" size="60">
        </div>

        <div class="ui-inputgroup" style="margin-top: 20px">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input pPassword type="password" placeholder="Password" size="60">
        </div>

        <div class="ui-inputgroup" style="margin-top: 20px">
          <span class="ui-inputgroup-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="text" pInputText placeholder="Email" size="60">
        </div>

        <div style="margin-top: 20px">
          <p-selectButton [options]="types" [(ngModel)]="userType"></p-selectButton>
        </div>

        <div *ngIf="userType == 'analyst'"  style="margin-top: 20px">
          <p-fieldset legend="资源目录">
            <div class="ui-g" style="width:250px;margin-bottom:10px">
              <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Spark" inputId="ny"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="Hadoop" inputId="sf"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Kylin" inputId="la"></p-checkbox></div>
            </div>
          </p-fieldset>
        </div>

        <div *ngIf="userType == 'business'"  style="margin-top: 20px">
          <p-fieldset legend="报表目录">
            <p-tree [value]="visionTree" [loading]="loading" selectionMode="checkbox" [(selection)]="selectedUserTreeNodes"></p-tree>
          </p-fieldset>
        </div>

      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-plus-circle" (click)="display=false" label="创建用户"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="修改用户" [(visible)]="showEditUser" [modal]=true >
    <div>
      <div class="form-group">

        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
          <input type="text" pInputText placeholder="Username" size="60">
        </div>

        <div class="ui-inputgroup" style="margin-top: 20px">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input pPassword type="password" placeholder="Password" size="60">
        </div>

        <div class="ui-inputgroup" style="margin-top: 20px">
          <span class="ui-inputgroup-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="text" pInputText placeholder="Email" size="60">
        </div>

        <div style="margin-top: 20px">
          <p-selectButton [options]="types" [(ngModel)]="userType"></p-selectButton>
        </div>

        <div *ngIf="userType == 'analyst'"  style="margin-top: 20px">
          <p-fieldset legend="资源目录">
            <div class="ui-g" style="width:250px;margin-bottom:10px">
              <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Spark" inputId="ny"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="Hadoop" inputId="sf"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Kylin" inputId="la"></p-checkbox></div>
            </div>
          </p-fieldset>
        </div>

        <div *ngIf="userType == 'business'"  style="margin-top: 20px">
          <p-fieldset legend="报表目录">
            <p-tree [value]="visionTree" [loading]="loading" selectionMode="checkbox" [(selection)]="selectedUserTreeNodes"></p-tree>
          </p-fieldset>
        </div>

      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-plus-circle" (click)="display=false" label="创建笔记"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="新建目录" [(visible)]="showAddDirectory" [modal]=true >
    <div>
      <div class="form-group">

        <h3>父目录：根目录</h3>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-folder-o"></i></span>
          <input type="text" pInputText placeholder="directory" size="60">
        </div>

      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-plus-circle" (click)="display=false" label="创建目录"></button>
    </p-footer>
  </p-dialog>

  <div class="ui-g">

    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" label="新建用户" pTooltip="新建用户" tooltipPosition="bottom" icon="fa-plus-circle" (click)="showAddNewUser=true"></button>
          <button pButton type="button" label="修改用户" pTooltip="修改用户" tooltipPosition="bottom" icon="fa-edit" (click)="showEditUser=true" [disabled]="!selectUser"></button>
          <button pButton type="button" label="添加目录" pTooltip="添加目录" tooltipPosition="bottom" icon="fa-plus-circle" (click)="showAddDirectory=true" [disabled]="!selectedTreeNode"></button>
          <button pButton type="button" label="删除目录" pTooltip="删除目录" tooltipPosition="bottom" icon="fa-trash-o" (click)="showRemoveDirectory=true" [disabled]="!selectedTreeNode"></button>
        </div>

        <div class="ui-toolbar-group-right">
          <button pButton type="button" label="删除用户" pTooltip="删除用户" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket" (click)="showRemoveUser=true" [disabled]="!selectUser"></button>
        </div>
      </p-toolbar>
    </div>


    <div class="ui-g-2 credential">
      <p-tree [value]="visionTree" selectionMode="single" [(selection)]="selectedTreeNode"></p-tree>
    </div>
    <div class="ui-g-10">
      <p-dataTable [value]="users" selectionMode="single" [(selection)]="selectUser"
                   [paginator]="true" [rows]="30" [responsive]="true">
        <p-header>用户列表</p-header>
        <p-column field="username" header="用户名" [sortable]="true"></p-column>
        <p-column field="email" header="电子邮箱" [sortable]="true"></p-column>
        <p-column field="role" header="用户角色" [sortable]="true"></p-column>
        <p-column field="interpreters" header="解析器" [sortable]="true"></p-column>
        <p-column field="visions" header="可视化节点" [sortable]="true"></p-column>
        <p-column field="timestamp" header="创建时间" [sortable]="true"></p-column>
      </p-dataTable>
    </div>

  </div>

</div>
