.display-inline {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #999;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 98px;
  height: 240px;
  margin: 0 10px 16px;
  padding-top: 60px;
  text-align: center;
  text-decoration: none;
  width: 264px;
}

