.idea
*.iml
target
local-repo
.DS_Store
smartsuites-interpreters/interpreter/
*reduced-pom.xml
smartsuites-server/src/main/resources/dist/
smartsuites-distribution/distribution/notebook/
avalon-ng-5.0.0