<div class="ui-g configuration" [ngStyle]="{'min-height':min_height}">
  <div class="ui-g-12">
    <!--TODO Filter-->
    <p-panel [style]="{'margin-bottom':'10px'}">
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">系统配置项</span>

          <button pButton style="float: right" type="button" icon="fa-edit" label="编辑" class="ui-button-info" (click)="edit=true" [disabled]="edit"></button>
        </div>
      </p-header>
      <div>
        <p-dataTable [value]="configrations" [responsive]="true" [editable]="edit">
          <p-column field="name" header="配置项" [sortable]="false"></p-column>
          <p-column field="value" header="配置值" [sortable]="false" [editable]="edit"></p-column>
          <p-column field="desc" header="配置描述" [sortable]="false"></p-column>
        </p-dataTable>
      </div>
      <p-footer *ngIf="edit">
        <button pButton type="button" icon="fa-save" label="保存" class="ui-button-info"></button>
        <button pButton type="button" icon="fa-trash-o" label="取消" class="ui-button-danger" (click)="edit=false"></button>
      </p-footer>
    </p-panel>

  </div>
</div>



