<p-dialog header="创建解析器" [(visible)]="showAddNewSetting" [modal]=true>
  <div style="height: 800px;overflow-y: auto">

    <p-fieldset legend="解析器基本属性" [toggleable]="true" [style]="{'margin-bottom': '10px'}">

      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-g-3">Interpreter Name</span>
          <input class="ui-g-9" type="text" pInputText placeholder="Interpreter Name" [(ngModel)]="newInterpreterSetting.name">
        </div>

        <div class="ui-g-12">
          <span class="ui-g-3">Interpreter group</span>
          <p-dropdown [options]="availableInterpretersArray" [(ngModel)]="newInterpreterSetting.group" (onChange)="newInterpreterGroupChange()"></p-dropdown>
        </div>
      </div>

    </p-fieldset>

    <p-fieldset legend="解析器模式" [toggleable]="true" [style]="{'margin-bottom': '10px'}">

      <div class="ui-g">
        <div class="ui-g-12">

          The interpreter will be instantiated

          <select #instance (change)="onInstanceModeChange(instance.value)">
            <option value="Globally" [selected]="getInterpreterRunningOption() == 'Globally'">Globally</option>
            <option value="Per Note" [selected]="getInterpreterRunningOption() == 'Per Note'">Per Note</option>
            <option value="Per User" [selected]="getInterpreterRunningOption() == 'Per User'" *ngIf="this.globalService.ticket.principal !== 'anonymous'">Per User</option>
          </select>

          in

          <select #option (change)="onOptionModeChange(option.value)">
            <option value="shared per note" *ngIf="getInterpreterRunningOption() === 'Globally'" [selected]="getOption() === 'shared per note'"
                    pTooltip="Single interpreter instance are shared across notes">shared per note</option>
            <option value="scoped per note" *ngIf="getInterpreterRunningOption() === 'Per Note'"  [selected]="getOption() === 'scoped per note'"
                    pTooltip="Separate Interpreter instance for each note">scoped per note</option>
            <option value="scoped per user" *ngIf="getInterpreterRunningOption() === 'Per User'"  [selected]="getOption() === 'scoped per user'"
                    pTooltip="Separate Interpreter instance for each note">scoped per user</option>
            <option value="isolated per note" *ngIf="getInterpreterRunningOption() === 'Per Note'"  [selected]="getOption() === 'isolated per note'"
                    pTooltip="Separate Interpreter process for each note">isolated per note</option>
            <option value="isolated per user" *ngIf="getInterpreterRunningOption() === 'Per User'"  [selected]="getOption() === 'isolated per user'"
                    pTooltip="Separate Interpreter process for each note">isolated per user</option>
          </select>

          process

          <a class="fa fa-info-circle interpreter-binding-mode-info-link"
             ptooltip="Can manage interpreter sessions differently by setting this option. Click this button to learn more"
             href="{{getInterpreterBindingModeDocsLink()}}" target="_blank"></a>

          <span *ngIf="getInterpreterRunningOption() === 'Per User' && this.globalService.ticket.principal !== 'anonymous'">
                <span *ngIf="getPerNoteOption() === 'shared'">
                  <button type="button" class="btn btn-default btn-xs"
                          (click)="setPerNoteOption('scoped')">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </span>

          <div class="row interpreter"
               style="margin-top: 6px;"
               *ngIf="getInterpreterRunningOption() === 'Per User' && this.globalService.ticket.principal != 'anonymous' && getPerNoteOption() !== 'shared'">
            <div class="col-md-12">
                  <span>
                    <span class="hidden-xs" style="padding-left: 190px;">And </span>
                    <span class="visible-xs" style="padding-left: 0px;">And </span>

                    <select disabled="true">
                      <option value="Per Note" selected="true">Per Note</option>
                    </select>

                    in

                    <select #option1 (change)="onOptionModeChange(option1.value)">
                      <option value="scoped per note" [selected]="getPerNoteOption() === 'scoped per note'"
                              pTooltip="Separate Interpreter instance for each note">scoped per note</option>
                      <option value="isolated per note" [selected]="getPerNoteOption() === 'isolated per note'"
                              pTooltip="Separate Interpreter process for each note">isolated per note</option>
                    </select>

                    process

                    <a class="fa fa-info-circle interpreter-binding-mode-info-link"
                       pTooltip="Can manage interpreter sessions differently by setting this option. Click this button to learn more"
                       href="{{getInterpreterBindingModeDocsLink()}}" target="_blank"></a>

                    <button type="button" class="btn btn-default btn-xs"
                            [disabled]="!isCurrentEdit(setting.id)"
                            (click)="setPerNoteOption('shared')">
                      <i class="fa fa-minus"></i>
                    </button>
                  </span>
            </div>
          </div>

        </div>

        <div class="ui-g-12" *ngIf="getInterpreterRunningOption()=='Per User' && getPerUserOption()=='isolated'">
          <p-checkbox label="User Impersonate" binary="true" [(ngModel)]="newInterpreterSetting.option.isUserImpersonate"></p-checkbox>
        </div>

        <div class="ui-g-12">
          <p-checkbox label="Connect to existing process" binary="true" [(ngModel)]="newInterpreterSetting.option.isExistingProcess"></p-checkbox>
          <!-- ExistingProcess -->
          <div class="ui-g" *ngIf="newInterpreterSetting.option.isExistingProcess">
            <div class="ui-g-6">
              <h3>远程主机：</h3>
              <span class="ui-float-label">
                      <input id="ninterpreterSettingHost" type="text" pInputText [(ngModel)]="newInterpreterSetting.option.host" style="width: 100%">
                      <label for="ninterpreterSettingHost">Host</label>
                  </span>
            </div>
            <div class="ui-g-6">
              <h3>主机端口：</h3>
              <span class="ui-float-label">
                      <input id="ninterpreterSettingPort" type="text" pInputText [(ngModel)]="newInterpreterSetting.option.port" style="width: 100%">
                      <label for="ninterpreterSettingPort">Port</label>
                  </span>
            </div>
          </div>
        </div>

        <div class="ui-g-12">
          <p-checkbox label="Set permission" binary="true" [(ngModel)]="newInterpreterSetting.option.setPermission"></p-checkbox>
          <!-- permissions -->
          <div *ngIf="newInterpreterSetting.option.setPermission">

            <p>Enter comma separated users and groups in the fields. Empty field (*) implies anyone can run this interpreter.</p>

            <p-multiSelect id="nowners" [options]="newInterpreterSetting.option.owners" [(ngModel)]="selectedUsers" [panelStyle]="{width:'40em'}"></p-multiSelect>

            <!--<select id="{{setting.name}}Owners" class="form-control" multiple="multiple" [disabled]="!isCurrentEdit(setting.id)">
              <option *ngFor="let owner of setting.option.owners" selected="selected">{{owner}}</option>
            </select>-->

          </div>
        </div>

      </div>

    </p-fieldset>

    <p-fieldset legend="解析器属性" [toggleable]="true" [style]="{'margin-bottom': '10px'}">

      <div class="ui-g">
        <table class="interPro ui-g-12">
          <thead>
          <tr>
            <th style="width:30%">配置项</th>
            <th style="width:30%">配置值</th>
            <th style="width:30%">描述</th>
            <th style="width:10%;text-align: center">动作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let key of getKeys(newInterpreterSetting.properties)">
            <td>{{key}}</td>
            <td><input type="text" style="width: 100%;" pInputText [(ngModel)]="newInterpreterSetting.properties[key].value"></td>
            <td>{{newInterpreterSetting.properties[key].description}}</td>
            <td style="text-align: center"><button type="button" pButton (click)="removeInterpreterProperty(key)" icon="fa-remove"></button></td>
          </tr>
          </tbody>

        </table>
      </div>

      <button pButton type="button" icon="fa-plus" label="添加新属性" class="ui-button-info" (click)="showAddNewPro=true"></button>


    </p-fieldset>
    <p-fieldset legend="类路径依赖" [toggleable]="true">

      <div class="ui-g">
        <table class="interPro ui-g-12">
          <thead>
          <tr>
            <th style="width:40%">依赖Jar包</th>
            <th style="width:50%">移除包（逗号分隔）</th>
            <th style="width:10%;text-align: center">动作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dep of newInterpreterSetting.dependencies">
            <td><input type="text" style="width: 100%;" pInputText [(ngModel)]="dep.groupArtifactVersion"></td>
            <td><input type="text" style="width: 100%;" pInputText [(ngModel)]="dep.exclusions"></td>
            <td style="text-align: center"><button type="button" pButton (click)="removeInterpreterDependency(dep.groupArtifactVersion)" icon="fa-remove"></button></td>
          </tr>
          </tbody>

        </table>
      </div>

      <button pButton type="button" icon="fa-plus" label="添加新依赖" class="ui-button-info" (click)="showAddNewDep=true"></button>

    </p-fieldset>

  </div>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="showAddNewSetting=false;addNewInterpreterSetting()" label="创建"></button>
    <button type="button" pButton icon="fa-minus-circle" (click)="showAddNewSetting=false;cancelInterpreterSetting()" label="删除"></button>
  </p-footer>
</p-dialog>

<p-dialog header="创建Maven仓库" [(visible)]="showAddNewRepository" [modal]=true>

  <p-fieldset legend="仓库设置" [style]="{'margin-bottom': '10px'}">

    <div class="ui-g">
      <div class="ui-g-12">
        <span class="ui-g-3">ID</span>
        <input class="ui-g-9" type="text" pInputText placeholder="Repository id" id="repoId"
               [(ngModel)]="newRepoSetting.id">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Repository Url</span>
        <input class="ui-g-9" type="text" pInputText id="repoUrl" [(ngModel)]="newRepoSetting.url"
               placeholder="Repository url" pTooltip="Please enter URL starts with http://, https:// or file://">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Snapshot</span>
        <p-checkbox [(ngModel)]="newRepoSetting.snapshot" id="repoSnapshot" binary="true"></p-checkbox>
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Username</span>
        <input class="ui-g-9" type="text" pInputText id="repoUsername" [(ngModel)]="newRepoSetting.username">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Password</span>
        <input class="ui-g-9" type="text" pInputText id="repoPassword" [(ngModel)]="newRepoSetting.password">
      </div>
    </div>

  </p-fieldset>

  <p-fieldset legend="代理设置(可选)" [style]="{'margin-bottom': '10px'}">

    <div class="ui-g">
      <div class="ui-g-12">
        <span class="ui-g-3">Protocol</span>
        <p-radioButton name="proxyProtocol" id="proxyProtocol1" value="HTTP" [(ngModel)]="newRepoSetting.proxyProtocol"
                       label="HTTP" inputId="opt1"></p-radioButton>
        <p-radioButton name="proxyProtocol" id="proxyProtocol2" value="HTTPS" [(ngModel)]="newRepoSetting.proxyProtocol"
                       label="HTTPS" inputId="opt2"></p-radioButton>
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Host</span>
        <input class="ui-g-9" type="text" pInputText id="proxyHost" [(ngModel)]="newRepoSetting.proxyHost">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Port</span>
        <input class="ui-g-9" type="text" pInputText id="proxyPort" [(ngModel)]="newRepoSetting.proxyPort">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Login</span>
        <input class="ui-g-9" type="text" pInputText id="proxyLogin" [(ngModel)]="newRepoSetting.proxyLogin">
      </div>

      <div class="ui-g-12">
        <span class="ui-g-3">Password</span>
        <input class="ui-g-9" type="text" pInputText id="proxyPassword" [(ngModel)]="newRepoSetting.proxyPassword">
      </div>
    </div>

  </p-fieldset>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="showAddNewRepository = false;addNewRepository()"
            label="创建"></button>
    <button type="button" pButton icon="fa-minus-circle"
            (click)="showAddNewRepository = false;resetNewRepositorySetting()" label="取消"></button>
  </p-footer>
</p-dialog>

<p-dialog header="添加新属性" [(visible)]="showAddNewPro" [modal]=true>

  <div>
    <div class="ui-float-label" style="margin-top: 15px">
      <input id="key" type="text" size="60" pInputText [(ngModel)]="newInterpreterPropertyKey">
      <label for="key">属性键</label>
    </div>

    <div class="ui-float-label" style="margin-top: 30px">
      <input id="value" type="text" size="60" pInputText [(ngModel)]="newInterpreterPropertyValue">
      <label for="value">属性值</label>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="showAddNewPro = false;addNewInterpreterProperty(currentEditSetting);newInterpreterPropertyKey='';newInterpreterPropertyValue=''" label="添加"></button>
    <button type="button" pButton icon="fa-minus-circle" (click)="showAddNewPro = false;newInterpreterPropertyKey='';newInterpreterPropertyValue=''" label="取消"></button>
  </p-footer>
</p-dialog>

<p-dialog header="添加新依赖" [(visible)]="showAddNewDep" [modal]=true>

  <div>
    <div class="ui-float-label" style="margin-top: 15px">
        <input id="dep" type="text" size="60" pInputText [(ngModel)]="newGroupArtifactVersion">
        <label for="dep">groupId:artifactId:version or local file path</label>
    </div>

    <div class="ui-float-label" style="margin-top: 30px">
        <input id="exclude" type="text" size="60" pInputText [(ngModel)]="newExclusions">
        <label for="exclude">(Optional) comma separated groupId:artifactId list</label>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="showAddNewDep = false;addNewInterpreterDependency(currentEditSetting);newGroupArtifactVersion='';newExclusions=''" label="添加"></button>
    <button type="button" pButton icon="fa-minus-circle" (click)="showAddNewDep = false;newGroupArtifactVersion='';newExclusions=''" label="取消"></button>
  </p-footer>
</p-dialog>

<div class="ui-g interpreterConfig">

  <div class="ui-g-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" label="新建解析器" pTooltip="新建解析器" tooltipPosition="bottom" icon="fa-plus-circle"
                (click)="showAddNewSetting = true;currentEditSetting = -2"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <div class="ui-inputgroup" style="float: left; margin-right: 10px;">
          <input type="text" pInputText placeholder="Search interpreters" [(ngModel)]="searchInterpreter"
                 style="width: 500px">
          <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        </div>

        <button pButton *ngFor="let repo of repositories" type="button"
                label="{{repo.id}}"
                pTooltip="{{repo.url}}"
                tooltipPosition="bottom" icon="fa-database"
                (click)="removeRepository(repo.id)" style="margin-right: 5px"></button>

        <button pButton type="button" class="danger-btn" icon="fa-plus-circle"
                (click)="showAddNewRepository = !showAddNewRepository"></button>
      </div>
    </p-toolbar>
  </div>

  <div class="ui-g-12" style="min-height: 800px">

    <p-panel [ngStyle]="{'margin-bottom':'10px'}"
             *ngFor="let setting of interpreterSettings | filter: {name:searchInterpreter}"
             id="{{setting.name | lowercase}}">
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px;display:inline-block;margin-top:2px">{{setting.name}}</span>
          <small>
            <span style="display:inline-block" *ngFor="let interpreter of setting.interpreterGroup"
                  title="{{interpreter.class}}">
              <span>&nbsp;&nbsp;</span>[%<span>{{setting.name}}</span><span>.</span><span>{{interpreter.name}}]</span>
            </span>
          </small>

          <a [ngSwitch]="setting.status">
            <i *ngSwitchCase="'READY'" style="color: green;" class="fa fa-fw fa-circle" pTooltip="Ready"
               tooltipPosition="bottom"></i>
            <i *ngSwitchCase="'ERROR'" style="color: red; cursor: pointer" class="fa fa-fw fa-circle"
               pTooltip="Error downloading dependencies" tooltipPosition="bottom"
               (click)="showErrorMessage(setting)"></i>
            <i *ngSwitchDefault style="color: blue" class="fa fa-fw fa-spinner" pTooltip="Dependencies are downloading"
               tooltipPosition="bottom"></i>
          </a>

          <button pButton style="float: right;margin-left: 5px" type="button" icon="fa-edit" label="编辑" [disabled]="isCurrentEdit(setting.id)"
                  (click)="currentEditSetting = setting.id; copyOriginInterpreterSettingProperties(setting.id)"></button>
          <button pButton style="float: right;margin-left: 5px" type="button" icon="fa-refresh" label="重启" [disabled]="isCurrentEdit(setting.id)"
                  (click)="restartInterpreterSetting(setting.id)"></button>
          <button pButton style="float: right;margin-left: 5px" type="button" icon="fa-remove" label="删除" [disabled]="isCurrentEdit(setting.id)"
                  (click)="removeInterpreterSetting(setting.id)"></button>

          <button pButton style="float: right" type="button" icon="fa-external-link" label="Spark界面" [disabled]="isCurrentEdit(setting.id)"
                  *ngIf="setting.group == 'spark'" (click)="showSparkUI(setting.id)"></button>
        </div>
      </p-header>
      <div>
        <!--TODO-->
        <p-fieldset legend="解析器模式" [toggleable]="true" [style]="{'margin-bottom': '10px'}">
          <div class="ui-g">
            <div class="ui-g-12">

              The interpreter will be instantiated

              <select #instance (change)="onInstanceModeChange(instance.value,setting)" [disabled]="!isCurrentEdit(setting.id)">
                <option value="Globally" [selected]="getInterpreterRunningOption(setting.id) == 'Globally'">Globally</option>
                <option value="Per Note" [selected]="getInterpreterRunningOption(setting.id) == 'Per Note'">Per Note</option>
                <option value="Per User" [selected]="getInterpreterRunningOption(setting.id) == 'Per User'" *ngIf="this.globalService.ticket.principal !== 'anonymous'">Per User</option>
              </select>

              in

              <select #option (change)="onOptionModeChange(option.value,setting)" [disabled]="!isCurrentEdit(setting.id)">
                <option value="shared per note" *ngIf="getInterpreterRunningOption(setting.id) === 'Globally'" [selected]="getOption(setting.id) === 'shared per note'"
                        pTooltip="Single interpreter instance are shared across notes">shared per note</option>
                <option value="scoped per note" *ngIf="getInterpreterRunningOption(setting.id) === 'Per Note'"  [selected]="getOption(setting.id) === 'scoped per note'"
                        pTooltip="Separate Interpreter instance for each note">scoped per note</option>
                <option value="scoped per user" *ngIf="getInterpreterRunningOption(setting.id) === 'Per User'"  [selected]="getOption(setting.id) === 'scoped per user'"
                        pTooltip="Separate Interpreter instance for each note">scoped per user</option>
                <option value="isolated per note" *ngIf="getInterpreterRunningOption(setting.id) === 'Per Note'"  [selected]="getOption(setting.id) === 'isolated per note'"
                        pTooltip="Separate Interpreter process for each note">isolated per note</option>
                <option value="isolated per user" *ngIf="getInterpreterRunningOption(setting.id) === 'Per User'"  [selected]="getOption(setting.id) === 'isolated per user'"
                        pTooltip="Separate Interpreter process for each note">isolated per user</option>
              </select>

              process

              <a class="fa fa-info-circle interpreter-binding-mode-info-link"
                 ptooltip="Can manage interpreter sessions differently by setting this option. Click this button to learn more"
                 href="{{getInterpreterBindingModeDocsLink()}}" target="_blank"></a>

              <span *ngIf="getInterpreterRunningOption(setting.id) === 'Per User' && this.globalService.ticket.principal !== 'anonymous'">
                <span *ngIf="getPerNoteOption(setting) === 'shared'">
                  <button type="button" class="btn btn-default btn-xs"
                          (click)="setPerNoteOption('scoped',setting)"
                          [disabled]="!isCurrentEdit(setting.id)">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </span>

              <div class="row interpreter"
                   style="margin-top: 6px;"
                   *ngIf="getInterpreterRunningOption(setting.id) === 'Per User' && this.globalService.ticket.principal != 'anonymous' && getPerNoteOption(setting) !== 'shared'">
                <div class="col-md-12">
                  <span>
                    <span class="hidden-xs" style="padding-left: 190px;">And </span>
                    <span class="visible-xs" style="padding-left: 0px;">And </span>

                    <select disabled="true">
                      <option value="Per Note" selected="true">Per Note</option>
                    </select>

                    in

                    <select #option1 (change)="onOptionModeChange(option1.value,setting)" [disabled]="!isCurrentEdit(setting.id)">
                      <option value="scoped per note" [selected]="getPerNoteOption(setting) === 'scoped per note'"
                              pTooltip="Separate Interpreter instance for each note">scoped per note</option>
                      <option value="isolated per note" [selected]="getPerNoteOption(setting) === 'isolated per note'"
                              pTooltip="Separate Interpreter process for each note">isolated per note</option>
                    </select>

                    process

                    <a class="fa fa-info-circle interpreter-binding-mode-info-link"
                       pTooltip="Can manage interpreter sessions differently by setting this option. Click this button to learn more"
                       href="{{getInterpreterBindingModeDocsLink()}}" target="_blank"></a>

                    <button type="button" class="btn btn-default btn-xs"
                            [disabled]="!isCurrentEdit(setting.id)"
                            (click)="setPerNoteOption('shared',setting)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </span>
                </div>
              </div>

            </div>

            <div class="ui-g-12" *ngIf="getInterpreterRunningOption(setting.id)=='Per User' && getPerUserOption(setting)=='isolated'">
              <p-checkbox label="User Impersonate" binary="true" [(ngModel)]="setting.option.isUserImpersonate" [disabled]="!isCurrentEdit(setting.id)"></p-checkbox>
            </div>

            <div class="ui-g-12">
              <p-checkbox label="Connect to existing process" binary="true" [(ngModel)]="setting.option.isExistingProcess" [disabled]="!isCurrentEdit(setting.id)"></p-checkbox>
              <!-- ExistingProcess -->
              <div class="ui-g" *ngIf="setting.option.isExistingProcess">
                <div class="ui-g-6">
                  <h3>远程主机：</h3>
                  <span class="ui-float-label">
                      <input id="interpreterSettingHost" type="text" size="80" pInputText [(ngModel)]="setting.option.host" [disabled]="!isCurrentEdit(setting.id)">
                      <label for="interpreterSettingHost">Host</label>
                  </span>
                </div>
                <div class="ui-g-6">
                  <h3>主机端口：</h3>
                  <span class="ui-float-label">
                      <input id="interpreterSettingPort" type="text" size="80" pInputText [(ngModel)]="setting.option.port" [disabled]="!isCurrentEdit(setting.id)">
                      <label for="interpreterSettingPort">Port</label>
                  </span>
                </div>
              </div>
            </div>

            <div class="ui-g-12">
              <p-checkbox label="Set permission" binary="true" [(ngModel)]="setting.option.setPermission" [disabled]="!isCurrentEdit(setting.id)"></p-checkbox>
              <!-- permissions -->
              <div *ngIf="setting.option.setPermission" class="ui-g-12">

                <h3>Enter comma separated users and groups in the fields. <br/>
                  Empty field (*) implies anyone can run this interpreter.</h3>
                <p-multiSelect id="owners" [options]="setting.option.owners" [(ngModel)]="selectedUsers" [panelStyle]="{width:'40em'}" [disabled]="!isCurrentEdit(setting.id)"></p-multiSelect>

                <select id="{{setting.name}}Owners" class="form-control" multiple="multiple" [disabled]="!isCurrentEdit(setting.id)">
                  <option *ngFor="let owner of setting.option.owners" selected="selected">{{owner}}</option>
                </select>

              </div>
            </div>

          </div>
        </p-fieldset>
        <p-fieldset legend="解析器属性" [toggleable]="true" [style]="{'margin-bottom': '10px'}">

          <div class="ui-g">
            <table class="interPro ui-g-12">
              <thead>
              <tr>
                <th style="width:40%">配置项</th>
                <th [ngStyle]="{'width': isCurrentEdit(setting.id)? '50%':'60%'}">配置值</th>
                <th style="width:10%;text-align: center" [hidden]="!isCurrentEdit(setting.id)">动作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of getKeys(setting.properties)">
                <td>{{setting.properties[key].name}}</td>
                <td *ngIf="!isCurrentEdit(setting.id)">{{setting.properties[key].value}}</td>
                <td *ngIf="isCurrentEdit(setting.id)"><input type="text" style="width: 100%;" pInputText [(ngModel)]="setting.properties[key].value"></td>
                <td style="text-align: center" [hidden]="!isCurrentEdit(setting.id)"><button type="button" pButton (click)="removeInterpreterProperty(key, setting.id)" icon="fa-remove"></button></td>
              </tr>
              </tbody>

            </table>
          </div>

          <button pButton type="button" icon="fa-plus" label="添加新属性" class="ui-button-info" (click)="showAddNewPro=true" *ngIf="isCurrentEdit(setting.id)"></button>

        </p-fieldset>
        <p-fieldset legend="类路径依赖" [toggleable]="true">

          <div class="ui-g">
            <table class="interPro ui-g-12">
              <thead>
              <tr>
                <th style="width:40%">依赖Jar包</th>
                <th [ngStyle]="{'width': isCurrentEdit(setting.id)? '50%':'60%'}">移除包（逗号分隔）</th>
                <th style="width:10%;text-align: center" [hidden]="!isCurrentEdit(setting.id)">动作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let dep of setting.dependencies">
                <td>{{dep.groupArtifactVersion}}</td>
                <td *ngIf="!isCurrentEdit(setting.id)">{{dep.exclusions.join()}}</td>
                <td *ngIf="isCurrentEdit(setting.id)"><input type="text" style="width: 100%;" pInputText [(ngModel)]="dep.exclusions"></td>
                <td style="text-align: center" [hidden]="!isCurrentEdit(setting.id)"><button type="button" pButton (click)="removeInterpreterDependency(dep.groupArtifactVersion, setting.id)" icon="fa-remove"></button></td>
              </tr>
              </tbody>

            </table>
          </div>

          <button pButton type="button" icon="fa-plus" label="添加新依赖" class="ui-button-info" (click)="showAddNewDep=true" *ngIf="isCurrentEdit(setting.id)"></button>

        </p-fieldset>
      </div>

      <p-footer *ngIf="isCurrentEdit(setting.id)">
        <button pButton type="button" icon="fa-plus" label="保存" class="ui-button-info" (click)="currentEditSetting = -1;updateInterpreterSetting(setting.id)"></button>
        <button pButton type="button" icon="fa-list" label="取消" class="ui-button-success" (click)="currentEditSetting = -1;resetInterpreterSetting(setting.id)"></button>
      </p-footer>

    </p-panel>

  </div>
</div>
