<div [ngStyle]="{'min-height':min_height}">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <div class="ui-inputgroup" style="float: left; margin-right: 10px;">
            <input type="text" pInputText placeholder="Search Jobs" [(ngModel)]="filterConfig.noteNameFilterValue"
                   style="width: 500px" (change)="filterJobs(jobs, filterConfig)">
            <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <div class="ui-toolbar-group-right">

          <div style="margin-top: 7px">
          <span *ngFor="let jobStatus of ['READY', 'FINISHED', 'ABORT', 'ERROR','PENDING','RUNNING']">
          <span style="margin-right: 2px;">
            <i [class]="getJobIconByStatus(jobStatus)"
               [ngStyle]="{'color': getJobColorByStatus(jobStatus)}"></i>
            {{jobStatus}}
          </span>
        </span>
          </div>
        </div>
      </p-toolbar>
    </div>

    <div class="ui-g-12">
      <p-dataList [value]="filteredJobs" [paginator]="true" [rows]="20">
        <p-header>
          监控的运行任务
        </p-header>
        <ng-template let-job pTemplate="item">

          <div class="card card-w-title" style="border: 1px solid #dddddd;">
            <div>
              <!-- job control: start -->
              <div id="{{job.noteId}}_control" class="control" style="float: right;font-weight: 600;color: #999999">
                <span>{{lastExecuteTime(job.unixTimeLastRun)}}</span>
                <span>
                <span>{{getRunningState(job.isRunningJob)}}</span>
              </span>
                <span *ngIf="job.isRunningJob">{{getProgress(job.paragraphs)}}</span>

                <span class="job-control-btn" style="cursor: pointer"
                      (click)="job.isRunningJob ? stopJob(job.noteId) : runJob(job.noteId)"
                      [class]="job.isRunningJob ? 'fa fa-pause-circle-o' : 'fa fa-play-circle-o'"
                      [ngStyle]="{'color': job.isRunningJob ? '#CD5C5C' : '#3071A9' }">
              </span>
              </div>
              <!-- job control: end -->

              <span class="job-types">
              <i [class]="getJobTypeIcon(job.noteType)"></i>
            </span>

              <a style="text-decoration: none !important;font-weight: 600" [routerLink]="'/notebook/job.noteId'">
                <span>{{job.noteName}}</span> -
                <span [ngStyle]="getInterpreterNameStyle(job.interpreter)">{{getInterpreterName(job.interpreter)}}</span>
              </a>

              <!-- job progress bar: start -->
              <div id="{{job.noteId}}_runControl" class="runControl">
                <div id="{{job.noteId}}_progress" class="progress" *ngIf="job.isRunningJob === true">
                  <div class="progress-bar" role="progressbar"
                       [ngStyle]="showPercentProgressBar(job.interpreter) ? { 'width': getProgress(job.interpreter) } : { 'width': '100%' }"
                       [class]="showPercentProgressBar(job.interpreter) ? '' : 'progress-bar-striped active'">
                  </div>
                </div>
              </div>
              <!-- job progress bar: end -->
            </div>

            <div style="margin-top: 10px">
            <span *ngFor="let paragraph of job.paragraphs">
              <a style="text-decoration: none !important;" [routerLink]="'notebook/job.noteId?paragraph=paragraph.id'" >
                <i [ngStyle]="{'color': getJobColorByStatus(paragraph.status)}"
                   [class]="getJobIconByStatus(paragraph.status)"
                   tooltipPosition="bottom"
                   pTooltip="{{paragraph.name}} is {{paragraph.status}}">
                </i>
              </a>
            </span>
            </div>
          </div>
        </ng-template>
      </p-dataList>
    </div>
  </div>
</div>
