<div class="dashboard">
    <div class="ui-g overview-boxes">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-1">
                <div class="overview-box-title">
                    <i class="fa fa-inbox"></i>
                    <span>Unread Messages</span>
                </div>
                <div class="overview-box-count">150</div>
                <div class="overview-box-stats">12 less than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-2">
                <div class="overview-box-title">
                    <i class="fa fa-map-pin"></i>
                    <span>Check-ins</span>
                </div>
                <div class="overview-box-count">532</div>
                <div class="overview-box-stats">46 more than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-3">
                <div class="overview-box-title">
                    <i class="fa fa-folder"></i>
                    <span>Files</span>
                </div>
                <div class="overview-box-count">450</div>
                <div class="overview-box-stats">30 more than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-4">
                <div class="overview-box-title">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                </div>
                <div class="overview-box-count">532</div>
                <div class="overview-box-stats">250 more than yesterday</div>
            </div>
        </div>
    </div>
    
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-6 global-sales">
            <p-panel>
                <p-header>
                    <i class="fa fa-globe"></i>
                    <span>Global Sales</span>
                </p-header>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total Sales</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="assets/layout/images/dashboard/flag-brazil.png" width="45"/></td>
                            <td>BRAZIL</td>
                            <td>4234</td>
                            <td>+35%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="assets/layout/images/dashboard/flag-china.png" width="45"/></td>
                            <td>CHINA</td>
                            <td>3214</td>
                            <td>-25%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="assets/layout/images/dashboard/flag-belgium.png" width="45"/></td>
                            <td>BELGIUM</td>
                            <td>2842</td>
                            <td>+28%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img src="assets/layout/images/dashboard/flag-france.png" width="45"/></td>
                            <td>FRANCE</td>
                            <td>1942</td>
                            <td>+15%</td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>
        
        <div class="ui-g-12 ui-lg-6 product-statistics">
            <p-panel>
                <p-header>
                    <i class="fa fa-line-chart"></i>
                    <span>Product Statistics</span>
                </p-header>
                <table>
                    <tbody>
                        <tr>
                            <td class="col-overview col-wait">
                                <div>W</div>
                            </td>
                            <td class="col-status">
                                <span class="status-time">Last Update: 12m ago</span>
                                <span class="status-text">Currently Waiting</span>
                            </td>
                            <td class="col-numbers">
                                <div>253 <span>Shipments</span></div>
                                <div>584 <span>Orders</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-overview col-success">
                                <div>S</div>
                            </td>
                            <td class="col-status">
                                <span class="status-time">Last Update: 12m ago</span>
                                <span class="status-text">Successfully Completed</span>
                            </td>
                            <td class="col-numbers">
                                <div>312 <span>Shipments</span></div>
                                <div>409 <span>Orders</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-overview col-delay">
                                <div>D</div>
                            </td>
                            <td class="col-status">
                                <span class="status-time">Last Update: 6m ago</span>
                                <span class="status-text">Delayed</span>
                            </td>
                            <td class="col-numbers">
                                <div>122 <span>Shipments</span></div>
                                <div>341 <span>Orders</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-overview col-preorder">
                                <div>P</div>
                            </td>
                            <td class="col-status">
                                <span class="status-time">Last Update: 15m ago</span>
                                <span class="status-text">Preordered</span>
                            </td>
                            <td class="col-numbers">
                                <div>221 <span>Shipments</span></div>
                                <div>332 <span>Orders</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>
    </div>
    
    <div class="ui-g">
        <div class="ui-g-12 graphs">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-4">
                    <div class="graph">
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <span class="graph-title">Logins</span>
                                <span class="graph-value">52003</span>
                                <span class="graph-change">+32</span>
                            </div>
                            <div class="ui-g-8">
                                <img src="assets/layout/images/dashboard/graph-1.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <div class="graph">
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <span class="graph-title">Views</span>
                                <span class="graph-value">532</span>
                                <span class="graph-change">+24792</span>
                            </div>
                            <div class="ui-g-8">
                                <img src="assets/layout/images/dashboard/graph-2.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <div class="graph">
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <span class="graph-title">Sales</span>
                                <span class="graph-value">$5521</span>
                                <span class="graph-change">+243</span>
                            </div>
                            <div class="ui-g-8">
                                <img src="assets/layout/images/dashboard/graph-3.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4 task-list">
            <p-panel header="Tasks" [style]="{'min-height':'411px'}">
                <ul>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Sales Reports</span>
                        <i class="fa fa-briefcase"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Pay Invoices</span>
                        <i class="fa fa-credit-card"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Dinner with Tony</span>
                        <i class="fa fa-cutlery"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Client Meeting</span>
                        <i class="fa fa-user"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">New Theme</span>
                        <i class="fa fa-paint-brush"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Flight Ticket</span>
                        <i class="fa fa-fighter-jet"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Generate Charts</span>
                        <i class="fa fa-area-chart"></i>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span class="task-name">Call Client</span>
                        <i class="fa fa-phone"></i>
                    </li>
                </ul>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid contact-form">
            <p-panel header="Contact Us" [style]="{'min-height':'411px'}">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-dropdown [options]="cities" [autoWidth]="false" [(ngModel)]="selectedCity"></p-dropdown>
                    </div>
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="Name" >
                    </div>
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="Age" >
                    </div>
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="Email">
                    </div>
                    <div class="ui-g-12">
                        <textarea type="text" pInputTextarea placeholder="Message"></textarea>
                    </div>
                    <div class="ui-g-12">
                        <button type="button" label="Send" icon="fa-send" pButton></button>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-lg-4 contacts">
            <p-panel header="Contacts" [style]="{'min-height':'411px'}">
                <ul>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar.png" width="45">
                        <div class="contact-info">
                            <span class="name">Madison Hughes (me)</span>
                            <span class="location">jane@pn-manhattan.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar1.png" width="45">
                        <div class="contact-info">
                            <span class="name">Joshua Williams</span>
                            <span class="location">joshua@pn-manhattan.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar2.png" width="45">
                        <div class="contact-info">
                            <span class="name">Emily Clark</span>
                            <span class="location">emily@pn-manhattan.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status offline">offline</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar3.png" width="45">
                        <div class="contact-info">
                            <span class="name">Tim Johnson</span>
                            <span class="location">tim@pn-manhattan.com</span>
                        </div>                                
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar4.png" width="45">
                        <div class="contact-info">
                            <span class="name">David Stark</span>
                            <span class="location">kelly@pn-manhattan.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status offline">offline</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                </ul>
            </p-panel>
        </div>
    </div>   
    
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-8 chat">
            <p-panel header="Chat" styleClass="no-pad">
                <ul>
                    <li class="clearfix message-from">
                        <img src="assets/layout/images/avatar2.png">
                        <span>Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore.</span>
                    </li>
                    <li class="clearfix message-own">
                        <img src="assets/layout/images/avatar.png">
                        <span>Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage.</span>
                    </li>
                    <li class="clearfix message-from">
                        <img src="assets/layout/images/avatar2.png">
                        <span>Chillwave craft beer tote bag stumptown quinoa hashtag.</span>
                    </li>
                    <li class="clearfix message-own">
                        <img src="assets/layout/images/avatar.png">
                        <span>Dreamcatcher locavore iPhone chillwave, occupy trust fund slow-carb distillery art party narwhal.</span>
                    </li>
                    <li class="clearfix message-own">
                        <span>Sed ut perspiciatis unde omnis iste natus.</span>
                    </li>
                    <li class="clearfix message-from">
                        <img src="assets/layout/images/avatar2.png">
                        <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</span>
                    </li>
                    <li class="clearfix message-own">
                        <img src="assets/layout/images/avatar.png">
                        <span>At vero eos et accusamus.</span>
                    </li>
                </ul>
                <div class="new-message">
                    <div class="message-attachment">
                        <i class="fa fa-paperclip"></i>
                    </div>
                    <div class="message-input">
                        <input type="text" placeholder="Write a message" class="ui-inputtext" />
                    </div>
                </div>
            </p-panel>
            
            <p-panel header="Recent Sales">
                <p-dataTable [value]="cars" [style]="{'margin-bottom':'20px'}" selectionMode="single">
                    <p-header>Recent Sales</p-header>
                    <p-column field="vin" header="Vin" sortable="true"></p-column>
                    <p-column field="year" header="Year" sortable="true"></p-column>
                    <p-column field="brand" header="Brand" sortable="true"></p-column>
                    <p-column field="color" header="Color" sortable="true"></p-column>
                </p-dataTable>
            </p-panel>
        </div>
        
        <div class="ui-g-12 ui-lg-4">
            <div class="card timeline ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-3">
                        <span class="event-time">just now</span>
                        <i class="fa fa-map-signs" style="color:#3984b8"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner" style="color:#3984b8">Katherine May</span>
                        <span class="event-text">Lorem ipsun dolor amet</span>
                        <div class="event-content">
                            <img src="assets/layout/images/dashboard/bridge.png" width="100"/>
                        </div>
                    </div>
                    
                    <div class="ui-g-3">
                        <span class="event-time">12h ago</span>
                        <i class="fa fa-star" style="color:#f6ac2b"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner" style="color:#f6ac2b">Brandon Santos</span>
                        <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                    </div>
                    
                    <div class="ui-g-3">
                        <span class="event-time">15h ago</span>
                        <i class="fa fa-comment" style="color:#7e8dcd"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner" style="color:#7e8dcd">Stephan Ward</span>
                        <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                    </div>
                    
                    <div class="ui-g-3">
                        <span class="event-time">2d ago</span>
                        <i class="fa fa-map" style="color:#e175a0"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner" style="color:#e175a0">Jason Smith</span>
                        <span class="event-text">Laudantium, repudiandae, similique!</span>
                        <div class="event-content">
                            <img src="assets/layout/images/dashboard/map.png" />
                        </div>
                    </div>
                    
                    <div class="ui-g-3">
                        <span class="event-time">1w ago</span>
                        <i class="fa fa-heart" style="color:#39b8b6"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner">Kevin Cox</span>
                        <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                    </div>
                    
                    <div class="ui-g-3">
                        <span class="event-time">2w ago</span>
                        <i class="fa fa-history" style="color:#3eb839"></i>
                    </div>
                    <div class="ui-g-9">
                        <span class="event-owner" style="color:#3eb839">Walter White</span>
                        <span class="event-text">I am the one who knocks!</span>
                    </div>
                    
                    <div class="ui-g-12">
                        <button type="button" pButton label="Refresh" icon="fa-refresh" class="rounded-btn raised-btn"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui-g">
        <div class="ui-g-12">
            <p-panel header="Calendar" [style]="{'height':'100%'}">
                <p-schedule [events]="events" defaultDate="2016-01-12"></p-schedule>
            </p-panel>
        </div>
    </div>

</div>