<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs"> 
            
            <h1>Current Version</h1>
            <p>Angular 5 and PrimeNG 5</p>
            
            <h1>Getting Started</h1>
            <p>Avalon is a true native application template for Angular and is distributed as a CLI project. If you don't have CLI installed already run the following commands to set it up. In case
            you have an application that do not use CLI, skip the <a href="#noncli">Integration with an Existing Non CLI Application</a> part. 
            Avalon is distributed with PrimeNG 4.1.x and Angular 4.x based on Angular CLI 1.3.0.</p>
<pre>
npm install -g @angular/cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the avalon zip file distribution, cd to the directory, 
            install the libraries from npm and then execute "ng serve" to run the application in your local environment at http://localhost:4200/.</p>
<pre>
cd avalon
npm install
ng serve
</pre>

            <p>That's it, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre>
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>            
                                    
            <h1>Structure</h1>
            <p>avalon consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout, 
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder. 
            </p>

            <h1>Template</h1>
            <p>Main layout is the html view of the app.component.ts, it is divided into a couple of sections such as topbar, profile, menu and footer. Here is the code for
                the main template. The component class app.component.ts implements the logic such as opening menus, managing layout modes and so on.
            </p>
<pre>
&lt;div class="layout-wrapper" (click)="onLayoutClick()"
    [ngClass]="&#123;'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'menu-layout-horizontal': isHorizontal(),
                'menu-layout-slim': isSlim(),
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuMobileActive&#125;"&gt;

    &lt;app-topbar&gt;&lt;/app-topbar&gt;

    &lt;div class="layout-menu-container" [ngClass]="&#123;'layout-menu-dark':darkMenu&#125;" (click)="onMenuClick($event)"&gt;
        &lt;div #layoutMenuScroller class="nano"&gt;
            &lt;div class="nano-content menu-scroll-content"&gt;
                &lt;inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"&gt;&lt;/inline-profile&gt;
                &lt;app-menu [reset]="resetMenu"&gt;&lt;/app-menu&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class="layout-main"&gt;
        &lt;router-outlet&gt;&lt;/router-outlet&gt;
    &lt;/div&gt;
    
    &lt;div class="layout-mask"&gt;&lt;/div&gt;
    
    &lt;app-footer&gt;&lt;/app-footer&gt;

&lt;/div&gt;
</pre>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems, 
            navigate to this file and define your own model as a nested structure. Here is the menu component from the sample application. The helper
            app-submenu component is also available in the same file.</p>
<pre>
import &#123;Component,Input,OnInit,EventEmitter,ViewChild&#125; from '@angular/core';
import &#123;trigger,state,style,transition,animate&#125; from '@angular/animations';
import &#123;Location&#125; from '@angular/common';
import &#123;Router&#125; from '@angular/router';
import &#123;MenuItem&#125; from 'primeng/primeng';
import &#123;AppComponent&#125; from './app.component';

@Component(&#123;
    selector: 'app-menu',
    template: `
        &lt;ul app-submenu [item]="model" root="true" class="layout-menu layout-main-menu clearfix" [reset]="reset" visible="true"&gt;&lt;/ul&gt;
    `
&#125;)
export class AppMenuComponent implements OnInit &#123;

    @Input() reset: boolean;

    model: any[];

    constructor(public app: AppComponent) &#123;&#125;
    
    ngOnInit() &#123;
        this.model = [
            &#123;label: 'Dashboard', icon: 'fa fa-fw fa-home', routerLink: ['/']&#125;,
            &#123;
                label: 'Customization', icon: 'fa fa-fw fa-bars' ,badge: '8',
                items: [
                    &#123;label: 'Static Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToStaticMenu()&#125;,
                    &#123;label: 'Overlay Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToOverlayMenu()&#125;,
                    &#123;label: 'Slim Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToSlimMenu()&#125;,
                    &#123;label: 'Horizontal Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToHorizontalMenu()&#125;,
                    &#123;label: 'Inline Profile', icon: 'fa fa-sun-o fa-fw',  command: () => this.app.profileMode = 'inline'&#125;,
                    &#123;label: 'Top Profile', icon: 'fa fa-moon-o fa-fw',  command: () => this.app.profileMode = 'top'&#125;,
                    &#123;label: 'Light Menu', icon: 'fa fa-sun-o fa-fw',  command: () => this.app.darkMenu = false&#125;,
                    &#123;label: 'Dark Menu', icon: 'fa fa-moon-o fa-fw',  command: () => this.app.darkMenu = true&#125;
                ]
            &#125;,
            &#123;
                label: 'Layout Colors', icon: 'fa fa-fw fa-magic',
                items: [
                    &#123;
                        label: 'Flat', 
                        icon: 'fa fa-fw fa-circle',
                        items: [
                            &#123;label: 'Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('blue')&#125;&#125;,
                            &#123;label: 'Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('purple')&#125;&#125;,
                            &#123;label: 'Cyan', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('cyan')&#125;&#125;,
                            &#123;label: 'Indigo', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('indigo')&#125;&#125;,
                            &#123;label: 'Teal', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('teal')&#125;&#125;,
                            &#123;label: 'Pink', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('pink')&#125;&#125;,
                            &#123;label: 'Lime', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('lime')&#125;&#125;,
                            &#123;label: 'Green', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('green')&#125;&#125;,
                            &#123;label: 'Amber', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('amber')&#125;&#125;,
                            &#123;label: 'Dark Grey', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('darkgrey')&#125;&#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Special', 
                        icon: 'fa fa-fw fa-fire',
                        items: [
                            &#123;label: 'Influenza', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('influenza', true)&#125;&#125;,
                            &#123;label: 'Suzy', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('suzy', true)&#125;&#125;,
                            &#123;label: 'Calm', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('calm', true)&#125;&#125;,
                            &#123;label: 'Crimson', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('crimson', true)&#125;&#125;,
                            &#123;label: 'Night', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('night', true)&#125;&#125;,
                            &#123;label: 'Skyling', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('skyline', true)&#125;&#125;,
                            &#123;label: 'Sunkist', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('sunkist', true)&#125;&#125;,
                            &#123;label: 'Little Leaf', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('littleleaf', true)&#125;&#125;,
                            &#123;label: 'Joomla', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('joomla', true)&#125;&#125;,
                            &#123;label: 'Firewatch', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('firewatch', true)&#125;&#125;
                        ]
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Themes', icon: 'fa fa-fw fa-paint-brush', badge: '5',
                items: [
                    &#123;label: 'Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('blue')&#125;&#125;,
                    &#123;label: 'Cyan', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('cyan')&#125;&#125;,
                    &#123;label: 'Indigo', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('indigo')&#125;&#125;,
                    &#123;label: 'Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('purple')&#125;&#125;,
                    &#123;label: 'Teal', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('teal')&#125;&#125;,
                    &#123;label: 'Orange', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('orange')&#125;&#125;,
                    &#123;label: 'Deep Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('deeppurple')&#125;&#125;,
                    &#123;label: 'Light Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('lightblue')&#125;&#125;,
                    &#123;label: 'Green', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('green')&#125;&#125;,
                    &#123;label: 'Light Green', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('lightgreen')&#125;&#125;,
                    &#123;label: 'Lime', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('lime')&#125;&#125;,
                    &#123;label: 'Amber', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('amber')&#125;&#125;,
                    &#123;label: 'Brown', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('brown')&#125;&#125;,
                    &#123;label: 'Dark Grey', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('darkgrey')&#125;&#125;,
                ]
            &#125;,
            &#123;
                label: 'Components', icon: 'fa fa-fw fa-sitemap',
                items: [
                    &#123;label: 'Sample Page', icon: 'fa fa-fw fa-columns', routerLink: ['/sample']&#125;,
                    &#123;label: 'Forms', icon: 'fa fa-fw fa-code', routerLink: ['/forms']&#125;,
                    &#123;label: 'Data', icon: 'fa fa-fw fa-table', routerLink: ['/data']&#125;,
                    &#123;label: 'Panels', icon: 'fa fa-fw fa-list-alt', routerLink: ['/panels']&#125;,
                    &#123;label: 'Overlays', icon: 'fa fa-fw fa-square', routerLink: ['/overlays']&#125;,
                    &#123;label: 'Menus', icon: 'fa fa-fw fa-minus-square-o', routerLink: ['/menus']&#125;,
                    &#123;label: 'Messages', icon: 'fa fa-fw fa-circle-o-notch', routerLink: ['/messages']&#125;,
                    &#123;label: 'Charts', icon: 'fa fa-fw fa-area-chart', routerLink: ['/charts']&#125;,
                    &#123;label: 'File', icon: 'fa fa-fw fa-arrow-circle-o-up', routerLink: ['/file']&#125;,
                    &#123;label: 'Misc', icon: 'fa fa-fw fa-user-secret', routerLink: ['/misc']&#125;
                ]
            &#125;,
            &#123;
                label: 'Template Pages', icon: 'fa fa-fw fa-life-saver',
                items: [
                    &#123;label: 'Empty Page', icon: 'fa fa-fw fa-square-o', routerLink: ['/empty']&#125;,
                    &#123;label: 'Landing Page', icon: 'fa fa-fw fa-certificate', url: 'assets/pages/landing.html', target: '_blank'&#125;,
                    &#123;label: 'Login Page', icon: 'fa fa-fw fa-sign-in', url: 'assets/pages/login.html', target: '_blank'&#125;,
                    &#123;label: 'Error Page', icon: 'fa fa-fw fa-exclamation-circle', url: 'assets/pages/error.html', target: '_blank'&#125;,
                    &#123;label: 'Not Found Page', icon: 'fa fa-fw fa-times', url: 'assets/pages/notfound.html', target: '_blank'&#125;,
                    &#123;label: 'Access Denied Page', icon: 'fa fa-fw fa-exclamation-triangle', url: 'assets/pages/access.html', target: '_blank'&#125;
                ]
            &#125;,
            &#123;
                label: 'Menu Hierarchy', icon: 'fa fa-fw fa-gg',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 1.1.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.1.2', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.1.3', icon: 'fa fa-fw fa-sign-in'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 1.2.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.2.2', icon: 'fa fa-fw fa-sign-in'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 2.1.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.1.2', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.1.3', icon: 'fa fa-fw fa-sign-in'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 2.2.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.2.2', icon: 'fa fa-fw fa-sign-in'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;label: 'Utils', icon: 'fa fa-fw fa-wrench', routerLink: ['/utils']&#125;,
            &#123;label: 'Documentation', icon: 'fa fa-fw fa-book', routerLink: ['/documentation']&#125;
        ];
    &#125;
&#125;
</pre>

            
            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup avalon in an existing project, copy the <i>src/assets</i> folder to your projects folder with the same name 
                and replace the contents of app.component.ts, app.component.html with their counterparts in avalon under <i>src/app</i> folder.</p>
            
            <p>Dependencies of avalon are listed below and needs to be added to package.json</p>
<pre>
"primeng": "^4.1.0",             //required: PrimeNG components
"jquery": "^3.1.1",              //optional: schedule and nanoscroller
"chart.js": "^2.4.0",            //optional: chart 
"fullcalendar": "^3.1.0",        //optional: schedule
"moment": "^2.17.1",             //optional: chart and schedule
"quill": "^1.1.8",               //optional: editor
</pre>
                        
            <p>Add PrimeNG CSS at styles section in angular-cli.json</p>

<pre>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "../node_modules/fullcalendar/dist/fullcalendar.min.css",   //optional: schedule
    "../node_modules/quill/dist/quill.snow.css",                //optional: editor
    "../node_modules/nanoscroller/bin/css/nanoscroller.css",    //optional: nanoscroller
    "styles.scss"                                               //your styles and overrides
],
</pre>

            <p>Add the following scripts to your angular-cli.json</p>
<pre>
"scripts": [
    "../node_modules/jquery/dist/jquery.js",                                //optional: schedule and nanoscroller
    "../node_modules/nanoscroller/bin/javascripts/jquery.nanoscroller.js",  //optional: nanoscroller
    "../node_modules/moment/moment.js",                                     //optional: schedule and charts
    "../node_modules/chart.js/dist/Chart.js",                               //optional: charts
    "../node_modules/fullcalendar/dist/fullcalendar.js",                    //optional: schedule
    "../node_modules/quill/dist/quill.js"                                   //optional: editor
],
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration so they go inside the bundle.</p>

            <h1 id="noncli">Integration with an Existing Non-CLI Project</h1>
            <p>For an existing project that do not use CLI, setup steps are more or less similar. Start with installing the dependencies listed above in package.json</p>
            <p>Copy the <i>src/assets</i> folder to your application and include the resources listed above with a module bundler like webpack or using link-script tags.</p>
            <p>Finally copy the contents of app.component.html to your application's main component template such as <i>app/application.html</i> along
            with the sub components which are app.menu.component.ts, app.profile.components.ts, app.topbar.component.ts and app.footer.component.ts.</p>
        
            <h1>Theme</h1>    
            <p>Avalon provides 15 PrimeNG themes out of the box, setup of a theme simple including the css of theme to your page that are located inside resources/theme folder.</p>
            
            <ul>
                <li>theme-amber</li>
                <li>theme-blue</li>
                <li>theme-brown</li>
                <li>theme-cyan</li>
                <li>theme-darkgrey</li>
                <li>theme-deeppurple</li>
                <li>theme-green</li>
                <li>theme-indigo</li>
                <li>theme-lightblue</li>
                <li>theme-lightgreen</li>
                <li>theme-lime</li>
                <li>theme-orange</li>
                <li>theme-pink</li>
                <li>theme-purple</li>
                <li>theme-teal</li>
            </ul>
            
            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as theme-myown.</li>
                <li>Create a file named theme-myown.scss under <i>assets/theme folder</i>.</li>
                <li>Define the variables listed below and import the <i>/sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>
            
            <p>Here are the variables required to create a theme, you may need to change the last line according to the 
                relative path of the sass folder in your application.</p>
                
<pre>
$primaryColor:#337ab7;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#66afe9;
$highlightBgColor:#337ab7;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#777777;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;

@import '../sass/theme/_theme';
</pre> 
                
            <p> An example sass command to compile the css would be;</p>
                
<pre>
sass src/assets/theme/theme-myown.scss src/assets/theme/theme-myown.css 
</pre> 

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre>
sass -w src/assets/ --sourcemap=none
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>
            
            <p>Here are the variables required to create a layout, you may need to change the last line according to the 
                relative path of the sass folder in your application.</p>
            
<pre>
$topbarLeftGradientStartBgColor:#ff8f00;
$topbarLeftGradientEndBgColor:#ffb300;
$topbarRightGradientStartBgColor:#ff8f00;
$topbarRightGradientEndBgColor:#ffb300;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #ff8f00;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#ff6f00;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#ffe57f;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout/_layout';

</pre> 

            <h1>Common SASS Variables</h1>
            <p>In case you'd like to customize the shared variables, the _variables.scss files are where the options are defined for layout and theme.</p>
            
<h3>sass/variables/_commons.scss</h3>
<pre>
$fontFamily:"Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize:14px;
$textColor:#292B2C;
$textSecondaryColor:#777777;
$borderRadius:4px;
$dividerColor:#e5e5e5;
$transitionDuration:.3s;
$disabledBgColor:#eeeeee;

/* Predefined Colors */
$lightestGray:#f5f5f5;
$lightGray:#cccccc;
$gray:#999999;
$darkGray:#777777;
$white:#ffffff;

$blue:#337ab7;
$purple:#6F5499;
$orange:#FF8800;
$lightBlue:#039be5;
$pink:#d81b60;
$green:#7cb342;
$teal:#2EA563;
$black:#000000;
$yellow:#ffb300;
</pre> 

<h3>sass/variables/_layout.scss</h3>
<pre>
@import './_common';

$bodyBgColor: #EEF2F6;
$menuHoverBgColor:#f4f4f4;
</pre>   

<h3>sass/variables/_theme.scss</h3>
<pre>
@import './_common';

/* Icons */
$iconFontSize:1em;
$iconWidth:1.1em;

/* Error */
$errorColor:#a94442;
$disabledColor:#eeeeee;

/*  Invalid Input */
$inputInvalidBorderColor:#b94a48;
$inputInvalidBgColor:#ffffff;

/* Headers */
$headerPadding: 0.714em 1.071em;

/* Contents */
$contentPadding: 1.071em;
$contentBorderColor:#dddddd;
$contentBgColor:#ffffff;
$contentLineHeight:1.43;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding: 0.429em 0.857em;
$inputBorderColor:#cccccc;
$inputHoverBorderColor:#cccccc;
$inputGroupAddonBgColor:#e6e6e6;

/* Buttons */
$buttonTextColor:#ffffff;
$toggleButtonBgColor:#ffffff;
$toggleButtonBorderColor:#cccccc;
$toggleButtonHoverBgColor:#e6e6e6;
$toggleButtonHoverBorderColor:#adadad;

/* List Items */
$listItemPadding:0.429em 1.429em;
$listItemHoverBgColor:#f5f5f5;
$listItemHoverTextColor:#292B2C;

/* Messages */
$infoMessageBgColor:#d9edf7;
$infoMessageBorderColor:#bce8f1;
$infoMessageTextColor:#31708f;
$successMessageBgColor:#dff0d8;
$successMessageBorderColor:#d6e9c6;
$successMessageTextColor:#3c763d;
$warnMessageBgColor:#fcf8e3;
$warnMessageBorderColor:#faebcc;
$warnMessageTextColor:#8a6d3b;
$errorMessageBgColor:#f2dede;
$errorMessageBorderColor:#ebccd1;
$errorMessageTextColor:#a94442;
$fatalMessageBgColor:#999999;
$fatalMessageBorderColor:#6b6b6b;
$fatalMessageTextColor:#ffffff;

/* Overlays */
$overlayBorderColor:#cccccc;

/* Data */
$datatableHeaderBgColor:#ffffff;
$datatableFooterBgColor:#ffffff;
$datatableCellBorderColor:#dddddd;
$datatableCellPadding:0.643em;
$paginatorBgColor:#ffffff;

/* TabView */
$tabHeaderPadding:.6em 1em;

/* Panel */
$panelContentBorderColor:#DCE1E7;
</pre>

            <h1>Menu Item Badges</h1>
            <p>Badges are numerical indicators associated with a link.
               The badge property is the value of the badge and badgeStyleClass is style class of the badge.</p>
<pre>
label: 'Components', icon: 'list', badge: '2', badgeStyleClass: 'red-badge'
</pre>  
            <p>Default badge uses the accent color of avalon layout and there are three more alternative colors.</p>
            <ul>
                <li>red-badge</li>
                <li>purple-badge</li>
                <li>teal-badge</li>
            </ul>
                                    
            <h1>Menu Modes</h1>
            <p>Menu has 4 modes, static, overlay, slim and horizontal. Layout container element in application.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode. In addition menu</p>
            <ul>
                <li>Static: "layout-wrapper menu-layout-static"</li>
                <li>Overlay: "layout-wrapper menu-layout-overlay"</li>
                <li>Slim: "layout-wrapper menu-layout-static menu-layout-slim"</li>
                <li>Horizontal: "layout-wrapper menu-layout-static menu-layout-horizontal"</li>
            </ul>
            
            <p>For example to create a horizontal menu, the div element should be in following form;</p>
<pre>
&lt;div class="layout-wrapper menu-layout-static menu-layout-horizontal"&gt;
</pre>            

            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an expression to bind it so that user can switch between modes. Sample
            application has an example implementation of such use case. Refer to app.component.ts for an example.</p>          

            <h1>Dark Menu</h1>
            <p>Default color scheme of menu is light and alternative dark mode can be activated by adding layout-menu-dark style class to the menu container that 
                is an element having .layout-menu as its class.</p>
<pre>
&lt;div class="layout-menu-container layout-menu-dark"&gt;
</pre>
            
            <h1>Profile Modes</h1>
            <p>There are two possible locations for the user profile menu, first version is inline located inside the main menu and second option is the topbar menu. For inline mode,
            profile content should be placed above the menu and for inline mode content goes in topbar-items list. The sample demo application provides examples for
            both cases.</p>
                    
            <h1>Grid CSS</h1>
            <p>Avalon uses PrimeNG Grid CSS (ui-g-*) throughout the samples, although any Grid library can be used we suggest using Grid CSS as your layout framework as it is well tested and supported by PrimeNG. Grid CSS is
            available inside primeng.css.</p> 
            
            <h1>Customizing Styles</h1>
            <p>It is suggested to write your customizations in styles.scss file or another file instead of adding them to the
                scss files under sass folders to avoid maintenance issues after an update.</p>
            
            <h1>Migration Guide</h1>
            
            <p>1.1.1 to 5.0.0</p>
            <ul>
                <li>Update theme css files.</li>
                <li>Update layout css files.</li>
            </ul>
            
            <p>1.0.0 to 1.1.0</p>
            <ul>
                <li>Update theme css files.</li>
            </ul>
            
        </div>
    </div>
</div>