
<div class="show-pictures">
  <p-galleria [images]="images" autoPlay="true" panelWidth="100%" panelHeight="{{height}}" [showFilmstrip]="false" [showCaption]="true"></p-galleria>
</div>

<div class="login-body">
  <div class="title">
    <h1>DATA SMART</h1>
  </div>

  <div class="about">
    <a href="assets/pages/landing.html" target="_blank"><img src="assets/login/about.png"/></a>
  </div>

  <div class="card login-panel ui-fluid card-w-title shadow-box ui-shadow-5" style="height:400px">

    <!-- 登录 -->
    <div class="login-panel-content" *ngIf="formType==0">
      <div class="ui-g">
        <div class="ui-g-3" style="text-align:left;">
          <img src="assets/layout/images/login/icon-login.svg"/>
        </div>
        <div class="ui-g-9" style="text-align:right;">
          <h1 class="welcome-text">欢迎您</h1>
          <span class="guest-sign-in"><h4>登陆 DATASMART 数据平台</h4></span>
        </div>
        <div class="ui-g-12" style="text-align:left;">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="color: #000000"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="用户名">
          </div>
        </div>
        <div class="ui-g-12" style="text-align:left;">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="color: #000000"><i class="fa fa-lock"></i></span>
            <input type="text" pInputText placeholder="密码">
          </div>
        </div>
        <div class="ui-g-12" style="text-align:left;">
          <div class="ui-g-4"><p-radioButton name="group" value="analyst" label="分析人员" [(ngModel)]="selectedRole" inputId="opt1"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group" value="business" label="业务人员" [(ngModel)]="selectedRole" inputId="opt2"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group" value="manager" label="管理人员" [(ngModel)]="selectedRole" inputId="opt3"></p-radioButton></div>
        </div>

        <div class="ui-g-12 ui-md-6 button-pane">
          <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                  role="button" aria-disabled="false" (click)="this._submitLoginForm()">
            <span class="ui-button-text ui-c">登  录</span>
          </button>
        </div>
        <div class="ui-g-12 ui-md-6 link-pane">
          <a (click)="this.showForgetForm()">忘记密码?</a>
        </div>
      </div>
    </div>

    <!-- 找回密码 -->
    <div class="login-panel-content" *ngIf="formType==2">
      <div class="ui-g">
        <div class="ui-g-3" style="text-align:left;">
          <img src="assets/layout/images/login/icon-login.svg"/>
        </div>
        <div class="ui-g-9" style="text-align:right;">
          <h1 class="welcome-text">欢迎您</h1>
          <span class="guest-sign-in"><h4>找回 DATASMART 数据平台密码</h4></span>
        </div>
        <div class="ui-g-12" style="text-align:left;">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="color: #000000"><i class="fa fa-envelope"></i></span>
            <input type="text" pInputText placeholder="用户名">
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 button-pane">
          <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                  role="button" aria-disabled="false">
            <span class="ui-button-text ui-c">找回密码</span>
          </button>
        </div>
        <div class="ui-g-12 ui-md-6 link-pane">
          <a (click)="this.showLoginForm()">返回登录</a>
        </div>
      </div>
    </div>

  </div>
</div>
