.contacts .status-text{
  margin-right: 20px;
  font-weight: 900;
}


.demo-chart {
  height: 400px;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 310px;
  border-radius: 0;

  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
