<div class="dashboard">
  <div class="ui-g overview-boxes">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-1">
        <div class="overview-box-title">
          <i class="fa fa-inbox"></i>
          <span>调度任务数量</span>
        </div>
        <div class="overview-box-count">150</div>
        <div class="overview-box-stats">12 less than yesterday</div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-2">
        <div class="overview-box-title">
          <i class="fa fa-map-pin"></i>
          <span>平台访问次数</span>
        </div>
        <div class="overview-box-count">532</div>
        <div class="overview-box-stats">46 more than yesterday</div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-3">
        <div class="overview-box-title">
          <i class="fa fa-folder"></i>
          <span>平台笔记总数</span>
        </div>
        <div class="overview-box-count">450</div>
        <div class="overview-box-stats">30 more than yesterday</div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-4">
        <div class="overview-box-title">
          <i class="fa fa-user"></i>
          <span>平台用户总数</span>
        </div>
        <div class="overview-box-count">532</div>
        <div class="overview-box-stats">250 more than yesterday</div>
      </div>
    </div>
  </div>

  <div class="ui-g">

    <div class="ui-g-12 ui-lg-6 product-statistics">
      <p-panel>
        <p-header>
          <i class="fa fa-line-chart"></i>
          <span>任务状态统计</span>
        </p-header>

        <div echarts [options]="taskStat" style="height:336px;width: 95%"></div>

      </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6 contacts">
      <p-panel>
        <p-header>
          <i class="fa fa-line-chart"></i>
          <span>平台资源统计</span>
        </p-header>
        <ul>
          <li class="clearfix">
            <img src="assets/layout/images/avatar.png" width="45">
            <div class="contact-info">
              <span class="name">Spark计算平台</span>
              <span class="location">spark://sparkmaster:7077</span>
            </div>

            <div class="contact-actions">
              <span class="status-text">任务总数：435</span>
              <span class="connection-status online">online</span>
              <i class="fa fa-paper-plane-o"></i>
              <i class="fa fa-phone"></i>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/layout/images/avatar1.png" width="45">
            <div class="contact-info">
              <span class="name">Hadoop计算平台</span>
              <span class="location">http://hadoopmaster:50070</span>
            </div>
            <div class="contact-actions">
              <span class="status-text">任务总数：455</span>
              <span class="connection-status online">online</span>
              <i class="fa fa-paper-plane-o"></i>
              <i class="fa fa-phone"></i>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/layout/images/avatar2.png" width="45">
            <div class="contact-info">
              <span class="name">Flink计算平台</span>
              <span class="location">http://flinkhost:6000</span>
            </div>
            <div class="contact-actions">
              <span class="status-text">任务总数：235</span>
              <span class="connection-status offline">offline</span>
              <i class="fa fa-paper-plane-o"></i>
              <i class="fa fa-phone"></i>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/layout/images/avatar3.png" width="45">
            <div class="contact-info">
              <span class="name">Apache Kylin MOLAP</span>
              <span class="location">http://kylinhost.9004</span>
            </div>
            <div class="contact-actions">
              <span class="status-text">任务总数：365</span>
              <span class="connection-status online">online</span>
              <i class="fa fa-paper-plane-o"></i>
              <i class="fa fa-phone"></i>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/layout/images/avatar4.png" width="45">
            <div class="contact-info">
              <span class="name">Oracle RAC 数据仓库</span>
              <span class="location">192.168.66.78</span>
            </div>
            <div class="contact-actions">
              <span class="status-text">任务总数：735</span>
              <span class="connection-status offline">offline</span>
              <i class="fa fa-paper-plane-o"></i>
              <i class="fa fa-phone"></i>
            </div>
          </li>
        </ul>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
      <p-panel>
        <p-header>
          <i class="fa fa-book"></i>
          <span>笔记语言统计</span>
        </p-header>

        <div echarts [options]="noteType" style="height:600px;width: 95%"></div>

      </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
      <p-panel>
        <p-header>
          <i class="fa fa-book"></i>
          <span>用户类型统计</span>
        </p-header>

        <div echarts [options]="userType" style="height:600px;width: 95%"></div>

      </p-panel>
    </div>

  </div>

</div>
