<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="topbar clearfix">
  <div class="topbar-left">
    <h1 style="margin: 0px; color: white">DATASMART</h1>
  </div>

  <div class="topbar-right" style="background-image: url('assets/login/pattern.svg')">
    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)"
       [ngClass]="{'menu-button-rotate': app.rotateMenuButton}">
      <i class="fa fa-angle-left"></i>
    </a>

    <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
      <i class="fa fa-bars"></i>
    </a>

    <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}">
      <li #profile class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
          [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

        <a href="#" (click)="app.onTopbarItemClick($event,profile)" style="min-width: 100px;">
          <img class="profile-image" src="assets/layout/images/avatar5.png"/>
          <span class="topbar-item-name">{{this.loginService.getLoginUsername()}}</span><br/>
          <span class="topbar-item-role" style="font-size: 11px">{{this.loginService.getRole()}}</span>
        </a>

        <ul class="layout-menu fadeInDown personal">
          <li role="menuitem">
            <a (click)="showPersonalSetting = true">
              <i class="fa fa-fw fa-user"></i>
              <span>用户配置</span>
            </a>
          </li>
          <li role="menuitem">
            <a (click)="this.loginService.logout()">
              <i class="fa fa-fw fa-sign-out"></i>
              <span>退出登录</span>
            </a>
          </li>
        </ul>
      </li>
      <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}">
        <a href="#" (click)="app.onTopbarItemClick($event,settings)">
          <i class="topbar-icon fa fa-fw fa-cog"></i>
          <span class="topbar-item-name">Settings</span>
        </a>
        <ul class="layout-menu fadeInDown">
          <li role="menuitem">
            <a routerLink="/document">
              <i class="fa fa-fw fa-book"></i>
              <span>在线文档</span>
            </a>
          </li>
          <li role="menuitem">
            <a (click)="showDialog()">
              <i class="fa fa-fw  fa-youtube-play"></i>
              <span>关于DataSmart</span>
            </a>
          </li>
        </ul>
      </li>
      <li #messages [ngClass]="{'active-top-menu':app.activeTopbarItem === messages}" *ngIf="this.loginService.isAnalyst()">
        <a href="#" (click)="app.onTopbarItemClick($event,messages)">
          <i class="topbar-icon animated swing fa fa-fw fa-bitbucket" style="color: #f1f909"></i>
          <span class="topbar-badge animated rubberBand">5</span>
          <span class="topbar-item-name">回收站</span>
        </a>
        <ul class="layout-menu fadeInDown">
          <li role="menuitem" *ngFor="let note of recycleList">
            <a class="topbar-message">
              <i class="fa fa-fw fa-book"></i>
              <span>{{note.name}}</span>
              <i class="fa fa-fw fa-reply-all" style="float: right; cursor: pointer; color: red" (click)="restoreNote(note.id)"></i>
            </a>
          </li>
          <li role="menuitem">
            &nbsp;
          </li>
          <li role="menuitem">
            <button pButton type="button" icon="fa-recycle" label="清空回收站" (click)="clearTheTrash()"
                    style="width: 100%;-webkit-border-radius: 0px;border-radius: 0px;" class="ui-button-secondary"></button>
          </li>
        </ul>
      </li>
      <li #notifications [ngClass]="{'active-top-menu':app.activeTopbarItem === notifications}">
        <a href="#" (click)="app.onTopbarItemClick($event,notifications)">
          <i class="topbar-icon fa fa-fw fa-bell-o"></i>
          <span class="topbar-badge animated rubberBand">{{this.notifyService.events.length}}</span>
          <span class="topbar-item-name">Notifications</span>
        </a>
        <ul class="layout-menu fadeInDown">
          <li role="menuitem" *ngFor="let item of this.notifyService.top10Event">
            <a>
              <i [class]="this.notifyService.getEventIconByStatus(item.level)" style="vertical-align: middle;"  [ngStyle]="{'color': this.notifyService.getEventColorByStatus(item.resolve,item.level)}"></i>
              <span>{{item.title}}</span>
            </a>
          </li>

          <li role="menuitem">
            <a routerLink="/notify">
              <button pButton type="button" icon="fa-info-circle" label="打开详细页面" style="width: 100%;"></button>
            </a>
          </li>
        </ul>
      </li>
      <li #search class="search-item" [ngClass]="{'active-top-menu':app.activeTopbarItem === search}"
          (click)="app.onTopbarItemClick($event,search)">
        <div class="topbar-search">
          <input type="text" placeholder="Search"/>
          <i class="fa fa-search"></i>
        </div>
      </li>
      <li class="connectStatus">
        <a [ngClass]="{'active-top-connected':app.connected, 'active-top-disconnected':!app.connected}">
          <i class="fa fa-fw fa-circle"></i>
          <span *ngIf="app.connected">已连接</span>
          <span *ngIf="!app.connected">未连接</span>
        </a>
      </li>

    </ul>
  </div>
</div>

<p-dialog [(visible)]="display" [modal]="true">
  <p-header>
    关于 DataSmart
  </p-header>
  <div>
    <img src="assets/login/logo.png" title="Data Smart" style="width: 600px;"/>
  </div>

  <div class="caption" style="text-align: center">
    <h3>
      <a href="http://www.baidu.com" title="DATA SMART 智能数据平台" target="_blank">DATA SMART<br><small>VER {{globalService.dataSmartVersion}}. BY @联思智云(北京)科技有限公司</small></a>
    </h3>
    <p>A web-based notebook that enables interactive data analytics. You can make beautiful<br/> data-driven, interactive and collaborative documents with SQL, Scala and more.</p>
  </div>
  <p-footer>
    CopyRight @2018 联思智云(北京)科技有限公司
  </p-footer>

</p-dialog>

<p-dialog header="个人账户配置" [(visible)]="showPersonalSetting" [modal]=true >
  <app-personal></app-personal>
</p-dialog>
