.active-top-connected{
  color: #74fd74;
}

.active-top-disconnected{
  color: red;
}

.connectStatus{
  font-size: larger;
}

.topbar-right{
  background-position: right center,center center !important;
  background-repeat: no-repeat !important;
  background-image: 'assets/login/pattern.svg' !important;

}
