<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>推荐算法</h1>
      <p-carousel headerText="Cars" [value]="carouselCars">
        <ng-template let-car pTemplate="item">
          <div class="ui-g" style="text-align:center;margin: 1em">
            <div class="ui-g-12" style="text-align:Center">
              <img src="assets/demo/images/car/{{car.brand}}.png" />
            </div>
            <div class="ui-g-6">Vin: </div>
            <div class="ui-g-6" style="font-weight:bold">{{car.vin}}</div>

            <div class="ui-g-6">Year: </div>
            <div class="ui-g-6" style="font-weight:bold">{{car.year}}</div>

            <div class="ui-g-6">Brand: </div>
            <div class="ui-g-6" style="font-weight:bold">{{car.brand}}</div>

            <div class="ui-g-6">Color: </div>
            <div class="ui-g-6" style="font-weight:bold">{{car.color}}</div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="ui-g-12">
    <!-- Left Side -->
    <div class="card card-w-title">
      <h1>DataGrid</h1>
      <p-dataGrid [value]="cars2" [paginator]="true" [rows]="21">
        <p-header>
          Grid of Cars
        </p-header>
        <ng-template let-car pTemplate="item">
          <div style="padding:1em" class="ui-g-12 ui-md-4">
            <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
              <img src="assets/demo/images/car/{{car.brand}}.png">
              <div class="car-detail" style="padding:1em">{{car.year}} - {{car.color}}</div>
            </p-panel>
          </div>
        </ng-template>
      </p-dataGrid>
    </div>
  </div>
</div>
