<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>可视化发布列表</h1>
      <p-dataList [value]="cars3" [paginator]="true" [rows]="5" styleClass="cars-datalist">
        <p-header>
          List of Cars
        </p-header>
        <ng-template let-car pTemplate="item">
          <div style="border-bottom: 1px solid #e5e5e5" class="clearfix car-item">
            <img src="assets/demo/images/car/{{car.brand}}.png" width="48" style="display:inline-block;margin:24px;vertical-align:middle"/>
            <div class="car-details" style="display:inline-block;vertical-align:middle">
              <p>{{car.brand}}</p>
              <p style="color:#777777">{{car.year}} - {{car.color}}</p>
            </div>
            <button type="button" pButton icon="fa fa-search" style="margin:2em 2em 0 0;float:right"></button>
          </div>
        </ng-template>
      </p-dataList>
    </div>
  </div>
</div>
