<div class="ui-g">

  <!--<div class="ui-g-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        &lt;!&ndash;<button pButton type="button" label="新建可视化发布" pTooltip="运行所有片段" tooltipPosition="bottom" icon="fa-eye" (click)="showCreateNoteDialog()"></button>&ndash;&gt;
      </div>

      <div class="ui-toolbar-group-right">

        <button pButton type="button" label="删除可视化" pTooltip="删除笔记" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket"></button>
      </div>
    </p-toolbar>
  </div>-->

  <div class="ui-g-12" style="min-height: 800px">

    <div class="ui-g-2">
      <p-panel header="可视化目录">
        <p-panelMenu [model]="items"></p-panelMenu>
      </p-panel>
    </div>
    <div class="ui-g-10">
      <p-panel header="可视化图表">
        <span *ngIf="visions.length == 0">没有发布记录！</span>
        <p-accordion>
          <p-accordionTab *ngFor="let note of visions">
            <p-header>
              <i class="fa fa-bar-chart"></i> &nbsp;&nbsp;&nbsp; {{note.name}}
              <i class="fa fa-bitbucket" style="float: right;color: darkred;font-size: 23px"
                 (click)="$event.preventDefault();deleteVisionNotes(selectedDirId,note.id)"
                 pTooltip="删除可视化" tooltipPosition="bottom"></i>
            </p-header>
            Body Content
          </p-accordionTab>
        </p-accordion>
      </p-panel>

    </div>

  </div>
</div>


