<p-dialog header="发布可视化" [(visible)]="createNoteDialogDisplay" [modal]=true >
  <div class="ui-g">

    <span>发布步骤：</span>
    <div class="ui-g-12 ui-md-12" style="margin-bottom: 10px">
      <p-steps [model]="stepsItems"></p-steps>
    </div>

    <span>使用 '/' 来创建文件夹. 比如: /NoteDirA/Note1</span>
  </div>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="display=false" label="创建笔记"></button>
  </p-footer>
</p-dialog>

<div class="ui-g">

  <div class="ui-g-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" label="新建可视化发布" pTooltip="运行所有片段" tooltipPosition="bottom" icon="fa-eye" (click)="showCreateNoteDialog()"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <button pButton type="button" label="删除可视化" pTooltip="删除笔记" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket"></button>
      </div>
    </p-toolbar>
  </div>



  <div class="ui-g-12" style="min-height: 800px">

    <div class="ui-g-2">
      <p-panelMenu [model]="items"></p-panelMenu>
    </div>
    <div class="ui-g-10">
      <p-accordion>
        <p-accordionTab header="Godfather I" [selected]="true">
          The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
        </p-accordionTab>
        <p-accordionTab header="Godfather II">
          Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
        </p-accordionTab>
        <p-accordionTab header="Godfather III">
          After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        </p-accordionTab>
      </p-accordion>
    </div>

  </div>
</div>


