<div class="ui-g" class="notebook">

  <!-- 工具栏 -->

  <!--<div class="ui-g-12" *ngIf="note.id && !paragraphUrl">-->
  <div class="ui-g-12" style="margin-bottom: 8px">
    <div (dblclick)="this.editNoteTitle()">
      <input type="text" pInputText placeholder="Name" [(ngModel)]="this.noteName" [ngClass]="{'showmodel':!titleEditor, 'editmodel':titleEditor}" [disabled]="!titleEditor" (blur)="this.showNoteTitle();this.updateNoteName(this.noteName)">
    </div>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <!--<input type="text" pInputText placeholder="Name">-->

        <button pButton type="button" pTooltip="运行所有片段" tooltipPosition="bottom" icon="fa-play"></button>
        <button pButton type="button" pTooltip="显示/隐藏代码" tooltipPosition="bottom" icon="fa-arrows-alt"></button>
        <button pButton type="button" pTooltip="显示/隐藏输出" tooltipPosition="bottom" icon="fa-columns"></button>
        <button pButton type="button" pTooltip="清除输出" tooltipPosition="bottom" icon="fa-eraser"></button>
        <button pButton type="button" pTooltip="复制笔记" tooltipPosition="bottom" icon="fa-copy"></button>
        <button pButton type="button" pTooltip="导出笔记" tooltipPosition="bottom" icon="fa-arrow-down"></button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button pButton type="button" pTooltip="提交笔记" tooltipPosition="bottom" class="info-btn" icon="fa-code"></button>
        <button pButton type="button" pTooltip="覆盖笔记" tooltipPosition="bottom" class="info-btn" icon="fa-arrow-circle-o-right"></button>
        <p-splitButton label="head" pTooltip="版本选择" tooltipPosition="bottom"  icon="fa-check" styleClass="ui-button-info" (onClick)="save()" [model]="items"></p-splitButton>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button pButton type="button" pTooltip="删除笔记" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket"></button>
        <span>&nbsp;&nbsp;</span>
        <button pButton type="button" pTooltip="调度运行" tooltipPosition="bottom" class="warning-btn" icon="fa-clock-o"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <button pButton type="button" pTooltip="快捷键" tooltipPosition="bottom" class="success-btn" icon="fa-keyboard-o"></button>
        <button pButton type="button" pTooltip="解析器绑定" tooltipPosition="bottom" class="success-btn" icon="fa-cog"></button>
        <button pButton type="button" pTooltip="权限配置" tooltipPosition="bottom" class="success-btn" icon="fa-lock"></button>
        <p-splitButton label="default" pTooltip="显示模式" tooltipPosition="bottom" icon="fa-bullseye" styleClass="ui-button-success" (onClick)="save()" [model]="items"></p-splitButton>
      </div>
    </p-toolbar>
  </div>

  <!-- 解析器绑定 -->

  <div class="ui-g-12" *ngIf="showSetting"  style="margin-bottom: 8px">

    <p-panel header="解析器绑定" [style]="{'min-height':'411px'}" class="interpreterBindings">
      <ul>
        <li *ngFor="let item of interpreterBindings">
          <p-checkbox binary="true" [(ngModel)]="item.selected"></p-checkbox>
          <i class="fa fa-gg" style="margin-left: 10px;"></i>
          <div class="task-name" style="font-weight: 500;width: 250px;display: inline-block;">解析器： {{item.name}}</div>
          <i class="fa fa-codiepie"></i>
          <small>
                <span style="display:inline-block" *ngFor="let intp of item.interpreters; let i = index;">
                  <span *ngIf="i!=0">, </span>
                  %<span ng-show="!$parent.$first || i==0">{{item.name}}</span>
                  <span ng-show="(!$parent.$first || i==0) && i!=0">.</span>
                  <span *ngIf="i!=0">{{intp.name}}</span>
                  <span *ngIf="i==0">(default)</span>
                </span>
          </small>
          <button pButton type="button" pTooltip="重启解析器" tooltipPosition="left" icon="fa-undo" style="float: right" (click)="restartInterpreter(item)"></button>
        </li>
      </ul>
      <div style="margin: 10px 20px;">
        <button pButton type="button" label="保存" pTooltip="保存配置" tooltipPosition="bottom" class="success-btn" icon="fa-check" (click)="saveSetting()"></button>
        <button pButton type="button" label="取消" pTooltip="取消保存" tooltipPosition="bottom" class="success-btn" icon="fa-close" (click)="closeSetting()"></button>
      </div>
    </p-panel>

  </div>

  <!-- 权限配置 -->

  <!-- TODO -->
  <!--<div class="ui-g-12" *ngIf="showPermissions && ticket.principal && !isAnonymous">

  </div>-->

  <!-- 代码片段 -->

  <div [ngClass]="this.columnWidthClass(currentParagraph.config.colWidth)" id="{{currentParagraph.id}}_paragraphColumn_main" *ngFor="let currentParagraph of this.note.paragraphs">

    <div class="new-paragraph"
         (click)="this.insertNew('above')"
         *ngIf="viewOnly || asIframe || revisionView"
         ng-class="{'first-paragraph': $first}">
      <span class="plus-sign">&#43;</span>
    </div>

    <div class="card card-w-title shadow-box ui-shadow-1" id="{{currentParagraph.id}}_paragraphColumn">
      <app-paragraph paragraphid="{{currentParagraph.id}}"></app-paragraph>
    </div>

    <div class="new-paragraph last-paragraph" (click)="this.insertNew('below');" *ngIf="!$last || viewOnly || asIframe || revisionView">
      <span class="plus-sign">&#43;</span>
    </div>

  </div>
  <div style="clear:both;height:10px"></div>
</div>
