<p-dialog header="发布可视化" [(visible)]="createVisionDialogDisplay" [modal]=true >
  <div class="ui-g">

    <p-tree [value]="visionTree" selectionMode="single" [loading]="visionTreeLoading" [(selection)]="selectedTreeNode" [style]="{'width': '100%'}"></p-tree>

  </div>

  <p-footer>
    <button type="button" pButton icon="fa-plus-circle" (click)="publishNote();createVisionDialogDisplay=false;visionTreeLoading=true" label="发布可视化"></button>
  </p-footer>
</p-dialog>

<div class="ui-g" class="notebook" [ngStyle]="{'min-height': min_height}">

  <!-- 工具栏 -->

  <div class="ui-g-12" style="margin-bottom: 6px; padding-right: 3px; padding-left: 3px" *ngIf="noteId && !paragraphUrl">

    <!--NoteBook名称-->
    <div (dblclick)="this.editNoteTitle()" *ngIf="!viewOnly">
      <input type="text" pInputText placeholder="加载中......" [(ngModel)]="this.noteName" [ngClass]="{'showmodel':!titleEditor, 'editmodel':titleEditor}" [disabled]="!titleEditor" (blur)="this.showNoteTitle();this.updateNoteName(this.noteName)">
    </div>
    <div *ngIf="viewOnly" style="text-align: center">
      <h2>{{noteName}}</h2>
    </div>

    <!--工具栏-->
    <p-toolbar *ngIf="!viewOnly">
      <div class="ui-toolbar-group-left">

        <button pButton type="button" pTooltip="运行所有片段" tooltipPosition="bottom" icon="fa-play"
                (click)="runAllParagraphs(note.id)"
                [disabled]="isNoteRunning() || revisionView"></button>

        <button pButton type="button" pTooltip="{{(editorToggled ? '显示' : '隐藏')}}代码" tooltipPosition="bottom"
                icon="fa-{{(editorToggled ? 'compress' : 'expand')}}"
                (click)="toggleAllEditor()"
                [disabled]="revisionView"></button>

        <button pButton type="button" pTooltip="{{(tableToggled ? '显示' : '隐藏')}}输出" tooltipPosition="bottom"
                icon="fa-{{(tableToggled ? 'eye-slash' : 'eye')}}"
                (click)="toggleAllTable()"
                [disabled]="revisionView"></button>

        <button pButton type="button" pTooltip="清除输出" tooltipPosition="bottom" icon="fa-eraser"
                (click)="clearAllParagraphOutput(note.id)"
                [disabled]="isNoteRunning() || revisionView"></button>

        <button pButton type="button" pTooltip="复制笔记" tooltipPosition="bottom" icon="fa-copy" (click)="showCreateNoteDialog()"></button>
        <app-note-create #noteCopy></app-note-create>

        <button pButton type="button" pTooltip="导出笔记" tooltipPosition="bottom" icon="fa-arrow-down"
                (click)="exportNote()"
                [disabled]="revisionView"></button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>


        <!-- 协同 -->
        <button pButton type="button" pTooltip="转换到协同模式 {{isOwner ? '' : '(owner can change)'}}" tooltipPosition="bottom" icon="fa-user" (click)="toggleNotePersonalizedMode()"
                *ngIf="globalService.ticket.principal && globalService.ticket.principal !== 'anonymous'"
                [hidden]="note.config.personalizedMode !== 'true'"
                [disabled]="isNoteRunning() || revisionView"></button>

        <button pButton type="button" pTooltip="转换到个人模式 {{isOwner ? '' : '(owner can change)'}}" tooltipPosition="bottom" icon="fa-users" (click)="toggleNotePersonalizedMode()"
                *ngIf="globalService.ticket.principal && globalService.ticket.principal !== 'anonymous'"
                [hidden]="note.config.personalizedMode === 'true'"
                [disabled]="isNoteRunning() || revisionView"></button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>


        <!-- 版本管理 -->
        <button pButton type="button" pTooltip="提交笔记" tooltipPosition="bottom" class="info-btn" icon="fa-code"
                [disabled]="revisionView"
                (click)="commit.toggle($event)"></button>

        <p-overlayPanel #commit>
          <div>
            <textarea pInputTextarea #commitMessage style="width: 350px;height: 100px;"></textarea>
          </div>
          <div>
            <button pButton type="button" pTooltip="Commit" tooltipPosition="bottom" class="info-btn" icon="fa-arrow-circle-up" label="提交代码"
                    (click)="checkpointNote(commitMessage.message)"></button>
          </div>

        </p-overlayPanel>

        <button pButton type="button" pTooltip="恢复笔记" tooltipPosition="bottom" class="info-btn" icon="fa-arrow-circle-down"
                [disabled]="!revisionView"
                (click)="setNoteRevision()"></button>

        <p-splitButton label="{{currentRevision}}" icon="fa-check" styleClass="ui-button-info" [model]="noteRev"></p-splitButton>

        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <!-- Search -->
        <span class="labelBtn btn-group" id="searchGroup" style="vertical-align:middle; display:inline-block;">
          <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle"
                  data-toggle="dropdown" tooltip-placement="bottom" uib-tooltip="Search code"
                  ng-click="searchClicked()">
            <i class="fa fa-search"></i>
          </button>
          <ul class="dropdown-menu search-dropdown" ng-click="$event.stopPropagation()"
              ng-style="{left : search.left}" style="width: 350px">
            <li>
              <div class="input-group input-group-sm search-group">
                <span class="input-group-addon">Find</span>
                <input type="text" class="form-control" id="findInput"
                       ng-class="{'no-match': !hasMatches() && search.searchText !== '',
                        'has-match': search.searchText !== ''}"
                       ng-change="markAllOccurrencesAndHighlightFirst()"
                       ng-click="markAllOccurrencesAndHighlightFirst()" ng-keypress="onPressOnFindInput($event)"
                       ng-model="search.searchText"  ng-trim="false"/>
                <span class="input-group-addon after-input" ng-show="search.searchText !== ''"
                      ng-class="{'no-match': !hasMatches() && search.searchText !== ''}">
                  {{search.currentOccurrence}} of {{search.occurrencesCount}}
                </span>
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="prevOccurrence()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="nextOccurrence()">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="input-group input-group-sm search-group">
                <span class="input-group-addon" style="border-top-width: inherit">Replace</span>
                <input type="text" class="form-control" ng-model="search.replaceText" ng-trim="false"
                       style="border-top-width: inherit"/>
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="replace()"
                          style="border-top-width: inherit">Replace</button>
                </div>
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="replaceAll()"
                          style="border-top-width: inherit">All</button>
                </div>
              </div>
            </li>
          </ul>-->
        </span>

        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <!--<button pButton type="button" pTooltip="永久删除笔记" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket"
                *ngIf="isTrash(note)"
                (click)="removeNote(note.id)"
                [disabled]="revisionView"></button>-->

        <button pButton type="button" pTooltip="删除笔记" tooltipPosition="bottom" class="danger-btn" icon="fa-bitbucket"
                (click)="moveNoteToTrash(note.id)"
                [disabled]="revisionView"></button>
        <span>&nbsp;&nbsp;</span>

        <button pButton type="button" pTooltip="调度运行" tooltipPosition="bottom" icon="fa-clock-o"
                (click)="schedule.toggle($event)"
                [label]="getCronOptionNameFromValue(note.config.cron)"
                [disabled]="revisionView" ></button>
                <!--[ngClass]="{'ui-button-info' : note.config.cron, 'ui-button-danger' : note.info.cron, 'ui-button-success' : !note.config.cron}"></button>-->
        <p-overlayPanel #schedule>

          <div>
            <h3>选择或设置一个<a href="http://www.quartz-scheduler.org/documentation/quartz-2.1.x/tutorials/crontrigger" target="_blank">Cron表达式</a>来运行笔记</h3>
          </div>
          <div style="font-size: 14px;margin-bottom: 5px;">
            <span>- 预设表达式</span>
            <a class="cron-preset" *ngFor="let cr of cronOption"
               type="button"
               (click)="setCronScheduler(cr.value)"
               [ngClass]="{ 'selected' : cr.value == note.config.cron}" style="margin-left: 5px">{{cr.name}}</a>
          </div>
          <div style="font-size: 14px;margin-bottom: 5px;">
            <span>- Cron表达式</span>
            <input type="text"
                   [ngModel]="note.config.cron"
                   (change)="setCronScheduler(note.config.cron)" style="float: right;"/>
            <p [hidden]="!note.info.cron" class="text-danger cron-info">
              {{note.info.cron}}
            </p>
          </div>
          <div style="font-size: 14px;margin-bottom: 5px;">
            <span>- Cron执行用户</span>
            <input type="text"
                   [ngModel]="note.config.cronExecutingUser"
                   (enter)="setCronExecutingUser(note.config.cronExecutingUser)" style="float: right;"/>
          </div>
          <div style="font-size: 14px;margin-bottom: 5px;">
            <span>- Cron执行时自动启动解析器</span>
            <input type="checkbox"
                   [ngModel]="note.config.releaseresource"
                   (click)="setReleaseResource(note.config.releaseresource)" style="float: right;"/>
          </div>

        </p-overlayPanel>

        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <button pButton type="button" pTooltip="发布可视化" tooltipPosition="bottom" icon="fa-pie-chart"
                (click)="showCreateVisionDialog();getAllDirectories()"
                label="publish"></button>

      </div>

      <div class="ui-toolbar-group-right">
        <button pButton type="button" pTooltip="快捷键" tooltipPosition="bottom" class="success-btn" icon="fa-keyboard-o"
                *ngIf="!revisionView" (click)="shortcutsDialog = true"></button>
        <p-dialog header="Keyboard shortcuts" [(visible)]="shortcutsDialog" height="750" [modal]="true">
          <table class="table table-shortcut">
            <tr>
              <th style="width:70%">Note Keyboard Shortcuts</th>
              <th></th>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Run paragraph</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Shift</kbd> + <kbd class="kbd-default">Enter</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Cancel</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">C</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move cursor Up</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">P</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move cursor Down</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">N</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Remove paragraph</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">D</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Insert new paragraph above</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">A</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Insert new paragraph below</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">B</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Insert copy of paragraph below</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">Shift</kbd> + <kbd class="kbd-default">C</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move paragraph Up</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">K</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move paragraph Down</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">J</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Enable/Disable run paragraph</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt' }}</kbd> + <kbd class="kbd-default">R</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Toggle output</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">O</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Toggle editor</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">E</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Toggle line number</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">M</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Toggle title</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">T</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Clear output</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">L</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Link this paragraph</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">W</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Reduce paragraph width</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">Shift</kbd> + <kbd class="kbd-default">-</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Increase paragraph width</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">Shift</kbd> + <kbd class="kbd-default">+</kbd>
                </div>
              </td>
            </tr>

            <tr class="sub-title">
              <th style="width:70%">Editor Keyboard Shortcuts</th>
              <th></th>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Auto-completion</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">.</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Cut the line</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">K</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Paste the line</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">Y</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Search inside the code</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">S</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move cursor to the beginning</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">A</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Move cursor at the end</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">E</kbd>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-md-8">Find in code</div>
              </td>
              <td>
                <div class="keys">
                  <kbd class="kbd-default">Ctrl</kbd> + <kbd class="kbd-default">{{ isMac ? 'Option' : 'Alt'}}</kbd> + <kbd class="kbd-default">F</kbd>
                </div>
              </td>
            </tr>
          </table>
        </p-dialog>

        <button pButton type="button" pTooltip="解析器绑定" tooltipPosition="bottom" class="success-btn" icon="fa-cog"
                *ngIf="!revisionView" (click)="toggleSetting()"></button>
        <button pButton type="button" pTooltip="权限配置" tooltipPosition="bottom" class="success-btn" icon="fa-lock"
                *ngIf="!revisionView" (click)="togglePermissions()"></button>

        <p-splitButton label="{{note.config.looknfeel}}" icon="fa-bullseye" styleClass="ui-button-success" [model]="looknfeelOptionItems"></p-splitButton>

        <!--<p-dropdown [options]="getNoteRevisions(noteRevisions)" [(ngModel)]="currentRevision" pTooltip="版本选择" tooltipPosition="bottom" optionLabel="name"></p-dropdown>-->
      </div>
    </p-toolbar>
  </div>

  <!-- 解析器绑定 -->

  <div class="ui-g-12" *ngIf="showSetting"  style="margin-bottom: 6px; padding-right: 3px; padding-left: 3px">

    <p-panel header="解析器绑定" [style]="{'min-height':'411px'}" class="interpreterBindings">
      <ul>
        <li *ngFor="let item of interpreterBindings">
          <p-checkbox binary="true" [(ngModel)]="item.selected"></p-checkbox>
          <i class="fa fa-gg" style="margin-left: 10px;"></i>
          <div class="task-name" style="font-weight: 500;width: 250px;display: inline-block;">解析器： {{item.name}}</div>
          <i class="fa fa-codiepie"></i>
          <small>
                <span style="display:inline-block" *ngFor="let intp of item.interpreters; let i = index;">
                  <span *ngIf="i!=0">, </span>
                  %<span ng-show="!$parent.$first || i==0">{{item.name}}</span>
                  <span ng-show="(!$parent.$first || i==0) && i!=0">.</span>
                  <span *ngIf="i!=0">{{intp.name}}</span>
                  <span *ngIf="i==0">(default)</span>
                </span>
          </small>
          <button pButton type="button" pTooltip="重启解析器" tooltipPosition="left" icon="fa-undo" style="float: right" (click)="restartInterpreter(item)"></button>
        </li>
      </ul>
      <div style="margin: 10px 20px;">
        <button pButton type="button" label="保存" pTooltip="保存配置" tooltipPosition="bottom" class="success-btn" icon="fa-check" (click)="saveSetting()"></button>
        <button pButton type="button" label="取消" pTooltip="取消保存" tooltipPosition="bottom" class="success-btn" icon="fa-close" (click)="closeSetting()"></button>
      </div>
    </p-panel>

  </div>

  <!-- 权限配置 -->

  <!-- TODO -->
  <div class="ui-g-12" *ngIf="showPermissions && globalService.ticket.principal && !isAnonymous">
    <p-panel header="Note Permissions (Only note owners can change)" [style]="{'min-height':'411px'}" class="permissions">
      <div>
        <p>
          Enter comma separated users and groups in the fields. <br />
          Empty field (*) implies anyone can do the operation.
        </p>
        <div class="permissionsForm"
             data-ng-model="permissions">
          <p><span class="owners">Owners </span>
            <select id="selectOwners" multiple="multiple">
              <option is-select2="false" *ngFor="let owner of permissions.owners" selected="selected">{{owner}}</option>
            </select>
            Owners can change permissions,read, run and write the note.
          </p>
          <p><span class="writers">Writers </span>
            <select id="selectWriters" multiple="multiple">
              <option is-select2="false" *ngFor="let writers of permissions.writers" selected="selected">{{writers}}</option>
            </select>
            Writers can read, run and write the note.
          </p>
          <p><span class="runners">Runners </span>
            <select id="selectRunners" multiple="multiple">
              <option is-select2="false" *ngFor="let runners of permissions.runners" selected="selected">{{runners}}</option>
            </select>
            Runners can read and run the note.
          </p>
          <p><span class="readers">Readers </span>
            <select id="selectReaders" multiple="multiple">
              <option is-select2="false" *ngFor="let readers of permissions.readers" selected="selected">{{readers}}</option>
            </select>
            Readers can only read the note.
          </p>
        </div>
      </div>
      <div style="margin: 10px 20px;">
        <button pButton type="button" label="保存" pTooltip="保存配置" tooltipPosition="bottom" class="success-btn" icon="fa-check" (click)="savePermissions()"></button>
        <button pButton type="button" label="取消" pTooltip="取消保存" tooltipPosition="bottom" class="success-btn" icon="fa-close" (click)="closePermissions()"></button>
      </div>
    </p-panel>
  </div>

  <!-- 代码片段 -->

  <div [ngClass]="this.columnWidthClass(currentParagraph.config.colWidth)"
       id="{{currentParagraph.id}}_paragraphColumn_main"
       *ngFor="let currentParagraph of this.note.paragraphs; let i = index" style="padding-right: 3px; padding-left: 3px">

    <!--<div class="new-paragraph"
         (click)="insertNew(currentParagraph.id,'above')"
         *ngIf="viewOnly || asIframe || revisionView"
         ng-class="{'first-paragraph': $first}">
      <span class="plus-sign">&#43;</span>
    </div>-->

    <div id="{{currentParagraph.id}}_paragraphColumn"
         class="card card-w-title shadow-box ui-shadow-1 paragraphColumn"
         (click)="paragraphOnClick(currentParagraph.id)"
         (dblclick)="paragraphOnDoubleClick(currentParagraph.id)"
         *ngIf="!viewOnly">
      <app-paragraph paragraphid="{{currentParagraph.id}}"></app-paragraph>
    </div>

    <div id="{{currentParagraph.id}}_paragraphColumn_show"
         *ngIf="viewOnly">
      <app-paragraph paragraphid="{{currentParagraph.id}}"></app-paragraph>
    </div>

    <div class="new-paragraph last-paragraph" (click)="insertNew(currentParagraph.id,'below');" *ngIf=" !viewOnly && !asIframe && !revisionView">
      <span class="plus-sign">&#43;</span>
    </div>

  </div>
  <div style="clear:both;height:10px"></div>
</div>
