.text {
  display: block !important;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  margin: 0 0 5px 5px !important;
  padding-top: 2px;
  unicode-bidi: embed;
  white-space: pre-wrap;
  word-break: break-all !important;
  word-wrap: break-word !important;
  overflow: auto;
}

.plainTextContainer {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 12px !important;
}

.resize{
  border: 2px solid #0C0213;
}
