<div class="ui-g" id="{{paragraph.id}}_container" style="display: inherit;" [ngClass]="{'paragraph': !asIframe, 'paragraphAsIframe': asIframe, 'fullScreen': fullScreen}" (click)="handleFocus(true)">
  <!-- control -->
  <div class="ui-g-12" style="margin-bottom: 8px">
    <!--<div style="float: left;" (dblclick)="this.editParagraphTitle()" class="paragraphTitle" *ngIf="paragraph.config.title" id="{{paragraph.id}}_title">-->
    <div style="float: left;" (dblclick)="this.editParagraphTitle()" class="paragraphTitle" id="{{paragraph.id}}_title" *ngIf="paragraph.config.title && !notebook.viewOnly">
      <input type="text" pInputText [(ngModel)]="paragraph.title" [ngClass]="{'showpmodel':!titleEditor, 'editpmodel':titleEditor}" [disabled]="!titleEditor" (blur)="this.showParagraphTitle();this.setTitle(paragraph)">
    </div>

    <div *ngIf="notebook.viewOnly" style="text-align: center">
      <h3>{{paragraph.title}}</h3>
    </div>

    <div style="float: right;" id="{{paragraph.id}}_control" *ngIf="!notebook.viewOnly">

      <!--<span>
        <span [hidden]="paragraph.runtimeInfos.jobUrl.values.length != 1">
          <a href="{{paragraph.runtimeInfos.jobUrl.values[0]}}" target="_blank" style="text-decoration: none;"
             tooltipPosition="top" pTooltip="{{paragraph.runtimeInfos.jobUrl.tooltip}}">
            <span class="fa fa-tasks"></span>
            {{paragraph.runtimeInfos.jobUrl.label}}
          </a>
        </span>
        <span class="dropdown" [hidden]="paragraph.runtimeInfos.jobUrl.values.length <= 1">
          <span style="cursor:pointer;color:#3071A9" tooltipPosition="top"
                pTooltip="{{paragraph.runtimeInfos.jobUrl.tooltip}}"
                data-toggle="dropdown" type="button">
            <span class="fa fa-tasks"></span>
            {{paragraph.runtimeInfos.jobUrl.label}}S
          </span>
          <ul class="dropdown-menu" role="menu" style="width:200px;z-index:1002">
            <li ng-class="{'option-disabled': !noteOperationsAllowed()}"
                *ngFor="let url of paragraph.runtimeInfos.jobUrl.values; let i = index">
              <a href="{{url}}" target="_blank"><span class="fa fa-external-link-square"></span> Jobs #{{i}}</a>
            </li>
          </ul>
        </span>
      </span>-->
      <span>
        {{paragraph.status}}
      </span>
      <span *ngIf="paragraph.status === 'RUNNING' && paragraph.executor !== 'SPELL'">
        {{getProgress()}}%
      </span>
      <button pButton type="button" pTooltip="运行片段" tooltipPosition="bottom" icon="fa-play"
              class="ui-button-secondary"
              (click)="this.runParagraphFromButton(this.getEditorValue())"
              *ngIf="!revisionView && paragraph.status!='RUNNING' && paragraph.status!='PENDING' && paragraph.config.enabled"></button>

      <button pButton type="button" pTooltip="取消运行" tooltipPosition="bottom" icon="fa-pause"
              class="ui-button-secondary"
              (click)="this.cancelParagraph(paragraph)"
              *ngIf="!revisionView && (paragraph.status=='RUNNING' || paragraph.status=='PENDING')"></button>

      <!--<button pButton type="button" pTooltip="Spark Job" tooltipPosition="bottom" icon="fa-tasks"
              class="ui-button-secondary"
              *ngIf="paragraph.runtimeInfos.jobUrl.length == 1">
        <a href="{{paragraph.runtimeInfos.jobUrl[0]}}" target="_blank"><span class="fa fa-tasks"></span> Spark job </a>
      </button>-->

      <!--<span *ngIf="paragraph.runtimeInfos.jobUrl.length == 1">
        <a href="{{paragraph.runtimeInfos.jobUrl[0]}}" target="_blank"><span class="fa fa-tasks"></span> Spark job </a>
      </span>-->

      <!--<span class="dropdown" ng-show="paragraph.runtimeInfos.jobUrl.length > 1">
        <span class="fa fa-tasks" style="cursor:pointer;color:#3071A9" tooltip-placement="top" uib-tooltip="Run this paragraph (Shift+Enter)"
              data-toggle="dropdown"
              type="button">  Spark Jobs
        </span>
        <ul class="dropdown-menu" role="menu" style="width:200px;z-index:1002">
           <li ng-class="{'option-disabled': !noteOperationsAllowed()}" ng-repeat="url in paragraph.runtimeInfos.jobUrl">
             <a href="{{url}}" target="_blank"><span class="fa fa-external-link-square"></span> Jobs #{{$index}}</a>
           </li>
        </ul>
      </span>-->

      <button pButton type="button" pTooltip="{{(paragraph.config.editorHide ? '显示' : '隐藏')}}代码"
              class="ui-button-secondary"
              tooltipPosition="bottom" icon="fa-{{(paragraph.config.editorHide ? 'compress' : 'expand')}}"
              (click)="this.toggleEditor(paragraph)"></button>

      <button pButton type="button" pTooltip="{{(paragraph.config.tableHide ? '显示' : '隐藏')}}输出"
              class="ui-button-secondary"
              tooltipPosition="bottom" icon="fa-{{(paragraph.config.tableHide ? 'eye-slash' : 'eye')}}"
              (click)="this.toggleOutput(paragraph)"></button>

      <button pButton type="button" pTooltip="全屏模式" tooltipPosition="bottom"
              class="ui-button-secondary"
              icon="fa-{{(!fullScreen ? 'arrows-alt' : 'remove')}}"  (click)="fullScreen = !fullScreen"></button>

      <button pButton type="button" pTooltip="配置" tooltipPosition="bottom"
              class="ui-button-secondary"
              icon="fa-cog" (click)="setting.toggle($event)"></button>
      <p-overlayPanel #setting>

        <ul class="setting" role="menu" style="width:270px;z-index:1002">
          <li style="text-align:center;margin-top:4px;">
            <a  tooltipPosition="bottom"
                pTooltip="片段ID">
              <span>{{paragraph.id}}</span>
            </a>
          </li>

          <!-- Result Show -->
          <li style="padding-top:8px">
            <span class="fa fa-{{(paragraph.config.reportShow ? 'eye':'eye-slash')}} shortcut-icon" style="padding:3px 8px 8px 20px"></span>Report show
            <form style="display:inline; float:right">
              <input type="checkbox" style="margin-right: 20px"
                     tooltipPosition="top" pTooltip="是否在报表模式展示"
                     [checked]="paragraph.config.reportShow"
                     (click)="toggleReportShow(paragraph);setting.hide()"/>
            </form>
          </li>

          <!-- Auto Run -->
          <li style="padding-top:8px"
              *ngIf="paragraph.config.runOnSelectionChange == true || paragraph.config.runOnSelectionChange == false">
            <span *ngIf="paragraph.config.runOnSelectionChange == true" class="fa fa-toggle-on shortcut-icon" style="padding:3px 8px 8px 20px"></span>
            <span *ngIf="paragraph.config.runOnSelectionChange == false" class="fa fa-toggle-off shortcut-icon" style="padding:3px 8px 8px 20px"></span>Run on selection change
            <form style="display:inline; float:right">
              <input type="checkbox"
                     style="width:16px;"
                     tooltipPosition="top" pTooltip="Even if you uncheck this, still can run the paragraph by pressing Enter"
                     [checked]="paragraph.config.runOnSelectionChange"
                     (click)="turnOnAutoRun(paragraph)"/>
            </form>
          </li>

          <!-- Width -->
          <li>
            <a (click)="$event.stopPropagation()" class="dropdown">
              <span style="margin-top: 2px;" class="fa fa-arrows-h shortcut-icon"></span>
              <select style="float: right" [(ngModel)]="paragraph.config.colWidth"
                      class="selectpicker"
                      (change)="changeColWidth(paragraph, paragraph.config.colWidth);setting.hide()">
                <option *ngFor="let col of colWidthOption" value="{{col}}">{{col}}</option>
              </select>
              Width
            </a>
          </li>

          <!-- Font Size -->
          <li>
            <a (click)="$event.stopPropagation()" class="dropdown">
              <span class="fa fa-text-height shortcut-icon"></span>
              <select style="float: right" [(ngModel)]="paragraph.config.fontSize"
                      class="selectpicker"
                      (change)="changeFontSize(paragraph, paragraph.config.fontSize);setting.hide()">
                <option *ngFor="let s of fontSizeOption" value="{{s}}">{{s}}</option>
              </select>
              Font size
            </a>
          </li>

          <!-- Move Up Down -->
          <li>
            <a (click)="moveUp(paragraph);setting.hide()" [hidden]="$first">
              <span class="fa fa-arrow-circle-o-up shortcut-icon"></span>
              Move up
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+K</span>
            </a>
          </li>
          <li>
            <a (click)="moveDown(paragraph);setting.hide()" [hidden]="$last">
              <span class="fa fa-arrow-circle-o-down shortcut-icon"></span>
              Move down
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+J</span>
            </a>
          </li>

          <!-- Insert -->
          <li>
            <a (click)="insertNew('below');setting.hide()">
              <span class="fa fa-plus-circle shortcut-icon"></span>
              Insert new
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+B</span>
            </a>
          </li>

          <!-- Clone -->
          <li>
            <a (click)="copyParagraph(getEditorValue());setting.hide()">
              <span class="fa fa-copy shortcut-icon"></span>
              Clone paragraph
              <span class="shortcut-keys" style="float:right">Ctrl+Shift+C</span>
            </a>
          </li>

          <!-- Title -->
          <li>
            <div [hidden]="!paragraph.config.title">
              <a (click)="hideTitle(paragraph);setting.hide()">
                <span class="fa fa-font shortcut-icon"></span>
                Hide title
                <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+T</span>
              </a>
            </div>
            <div [hidden]="paragraph.config.title">
              <a (click)="showTitle(paragraph);setting.hide()">
                <span class="fa fa-font shortcut-icon"></span>
                Show title
                <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+T</span>
              </a>
            </div>
          </li>

          <!-- Line Number -->
          <li>
            <div [hidden]="!paragraph.config.lineNumbers">
              <a (click)="hideLineNumbers(paragraph);setting.hide()">
                <span class="fa fa-list-ol shortcut-icon"></span>
                Hide line numbers
                <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+M</span>
              </a>
            </div>
            <div [hidden]="paragraph.config.lineNumbers">
              <a (click)="showLineNumbers(paragraph);setting.hide()">
                <span class="fa fa-list-ol shortcut-icon"></span>
                Show line numbers
                <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+M</span>
              </a>
            </div>
          </li>

          <!-- Run -->
          <li>
            <a (click)="toggleEnableDisable(paragraph);setting.hide()">
              <span class="fa fa-play shortcut-icon"></span>
              {{paragraph.config.enabled ? "Disable" : "Enable"}} run
              <span class="shortcut-keys" style="float:right">Ctrl+ {{ isMac ? 'Option' : 'Alt'}}+R</span>
            </a>
          </li>

          <!-- Link -->
          <li>
            <a (click)="goToSingleParagraph();setting.hide()">
              <span class="fa fa-external-link shortcut-icon"></span>
              Link this paragraph
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+W</span>
            </a>
          </li>

          <!-- Clear -->
          <li>
            <a (click)="clearParagraphOutput(paragraph);setting.hide()">
              <span class="fa fa-eraser shortcut-icon"></span>
              Clear output
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+L</span>
            </a>
          </li>

          <!-- Remove -->
          <li>
            <a (click)="removeParagraph(paragraph);setting.hide()" >
              <span class="fa fa-times shortcut-icon"></span>
              Remove
              <span class="shortcut-keys" style="float:right">Ctrl+{{ isMac ? 'Option' : 'Alt'}}+D</span>
            </a>
          </li>
        </ul>

      </p-overlayPanel>

    </div>
  </div>
  <!-- editor -->
  <div class="ui-g-12" [hidden]="paragraph.config.editorHide || notebook.viewOnly">

    <div id="{{paragraph.id}}_editor" class="editor"></div>

  </div>
  <!-- Processor Bar -->
  <div class="ui-g-12">
    <div id="{{paragraph.id}}_runControl" class="runControl">
      <div id="{{paragraph.id}}_progress" class="progress" *ngIf="paragraph.status === 'RUNNING'">

        <p-progressBar [style]="{'height': '6px'}" [showValue]="false" [value]="this.getProgress()" *ngIf="this.getProgress()>0 && this.getProgress()<100 && paragraph.status=='RUNNING'"></p-progressBar>
        <p-progressBar [style]="{'height': '6px'}" [showValue]="false" [value]="100" *ngIf="(this.getProgress()<=0 || this.getProgress()>=100) && (paragraph.status=='RUNNING' )"></p-progressBar>

      </div>
    </div>
  </div>

  <!-- form -->
  <div class="ui-g-12">
    <fieldset style="border: 1px solid gray;" *ngIf="getKeys(paragraph.settings.forms).length > 0">
      <legend>表单信息</legend>
      <form id="{{paragraph.id}}_form" role="form"
            *ngIf="!paragraph.config.tableHide"
            class=" paragraphForm form-horizontal row">
        <div *ngFor="let formkey of getKeys(paragraph.settings.forms)">
          <!--*ngFor="let formulaire of getKeys(paragraph.settings.forms)">-->
          <!--ng-init="loadForm(formulaire, paragraph.settings.params)">-->

          <label class="ui-g-4" [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }">{{paragraph.settings.forms[formkey].name}}</label>
          <div class="ui-g-8">
            <input class="form-control input-sm" style="width: 100%;"
                   *ngIf="paragraph.settings.forms[formkey].type == 'TextBox'"
                   ng-enter="runParagraphFromButton(getEditorValue())"
                   [(ngModel)]="paragraph.settings.params[formkey]"
                   [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }"
                   name="{{formkey}}" />
          </div>
          <div class="ui-g-8" *ngIf="paragraph.config.runOnSelectionChange == true">
            <select class="form-control input-sm" style="width: 100%;"
                    *ngIf="paragraph.settings.forms[formkey].type == 'Select'"
                    ng-change="runParagraphFromButton(getEditorValue())"
                    [(ngModel)]="paragraph.settings.params[formkey]"
                    [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }"
                    name="{{formkey}}">
                    <option *ngFor="let option of paragraph.settings.forms[formkey].options" value="{{option.value}}">{{option.value}}</option>
            </select>
          </div>
          <div class="ui-g-8" *ngIf="paragraph.config.runOnSelectionChange == false">
            <select class="form-control input-sm" style="width: 100%;"
                    *ngIf="paragraph.settings.forms[formkey].type == 'Select'"
                    ng-enter="runParagraphFromButton(getEditorValue())"
                    [(ngModel)]="paragraph.settings.params[formkey]"
                    [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }"
                    name="{{formkey}}"
                    ng-options="option.value as (option.displayName||option.value) for option in paragraph.settings.forms[formulaire.name].options">
            </select>
          </div>
          <div class="ui-g-8" *ngIf="paragraph.config.runOnSelectionChange == true &&
                paragraph.settings.forms[formkey].type == 'CheckBox'">
            <label *ngFor="let option of paragraph.settings.forms[formkey].options"
                   class="checkbox-item input-sm">
              <input type="checkbox"
                     [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }"
                     ng-checked="paragraph.settings.params[formulaire.name].indexOf(option.value) > -1"
                     (click)="toggleCheckbox(paragraph.settings.forms[formkey], option, false); runParagraphFromButton(getEditorValue())"/> {{option.displayName||option.value}}
            </label>
          </div>
          <div class="ui-g-8" *ngIf="paragraph.config.runOnSelectionChange == false &&
                paragraph.settings.forms[formkey].type == 'CheckBox'">
            <label *ngFor="let option of paragraph.settings.forms[formkey].options"
                   class="checkbox-item input-sm">
              <input type="checkbox"
                     [ngClass]="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }"
                     ng-checked="paragraph.settings.params[formkey].indexOf(option.value) > -1"
                     ng-enter="runParagraphFromButton(getEditorValue())"
                     (click)="toggleCheckbox(paragraph.settings.forms[formkey], option, false)"/> {{option.displayName||option.value}}
            </label>
          </div>
        </div>
      </form>
    </fieldset>
  </div>

  <!-- result -->
  <div class="ui-g-12">

    <div *ngFor="let result of paragraph.results.msg; let i = index" [hidden]="paragraph.config.tableHide">
      <app-result class="tableDisplay" paragraphid="{{paragraphid}}" index="{{i}}" noteid="{{notebook.noteId}}"></app-result>
    </div>

    <div id="{{paragraph.id}}_error" class="error text">
      {{paragraph.errorMessage}}
    </div>

  </div>
  <!-- footer -->
  <div class="ui-g-12" *ngIf="!asIframe" style="margin-top: 8px">

    <div *ngIf="!paragraph.config.tableHide && !viewOnly" id="{{paragraph.id}}_executionTime" class="executionTime">
      {{this.getExecutionTime(paragraph)}}
    </div>
    <div *ngIf="paragraph.status === 'RUNNING'" class="paragraphFooterElapsed">
      <div id="{{paragraph.id}}_elapsedTime" class="elapsedTime">
        {{this.getElapsedTime(paragraph)}}
      </div>
    </div>

  </div>

</div>

