.editpmodel{
  padding: 0px;
  font-size: 25px;
  font-weight: 500;
  width:auto;
}

.showpmodel{
  padding: 0px;
  font-size: 25px;
  font-weight: 500;
  width:auto;
  border: none;
  box-shadow: none;
}

/*
.paragraphControl .ui-button {
  color: #000000;
  background-color: #ffff;
  border: 1px solid transparent;
  font-size: 14px;
}
*/


.elapsedTime, .executionTime {
  color: #999;
  font-size: 12px;
  font-family: Roboto,sans-serif;
}
