@import url(fonts/font-awesome.min.css);
@import url(fonts/custom-font.css);
@import url(fonts/google-fonts.css);
@import url(assets/styles/github-markdown.css);

/************** Login  **************/
.show-pictures li,.show-pictures img{
  width: 100% !important;
  height: 100% !important;
}

.show-pictures .ui-widget-content{
  border: none;
}

.show-pictures .ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.show-pictures .ui-galleria-caption{
  left:0px;
}

/*************** Configure **************/
.configuration td span{
  width: 100%;
  word-wrap: break-word;
}

/*************** interpreterBindings **************/
.interpreterBindings .ui-panel-content{
  padding: 0px !important;
}

.paragraphTitle .ui-inputtext:disabled {
  background-color: #ffffff;
}

/************** notebook ******************/
.notebook .ui-g-1, .notebook .ui-g-2, .notebook .ui-g-3, .notebook .ui-g-4, .notebook .ui-g-5, .notebook .ui-g-6, .notebook .ui-g-7, .notebook .ui-g-8, .notebook .ui-g-9, .notebook .ui-g-10, .notebook .ui-g-11, .notebook .ui-g-12 {
  padding: 0px;
}

/************** hub  **************/
.hub .ui-widget-content {
  background-color: #EFF2F6 !important;
  border: none !important;
}

.ui-dialog .ui-dialog-content {
   overflow: unset;
}

/**************  ace  **************/
.ace-chrome .ace_print-margin {
  width: 0px !important;
  background: #ffffff !important;
}
